In [1]:
import pandas as pd

In [2]:
nEvaluations="/Users/gilles/Downloads/ProjetWhisper-evaluations.csv"

In [71]:
dfBrut=pd.read_csv(nEvaluations)
# print(dfEval.columns)
dfBrut.columns=["date","email","nom","ubm","ordre", 
         "1minutes","1minute1","1minute2","1minute3", 
         "2minutes","2minute1","2minute2", 
         "facile","commentaire"]
dfBrut['date']=pd.to_datetime(dfBrut['date'], format='mixed')
dfEval=dfBrut.loc[dfBrut.date>"2023-12-31"]

In [76]:
for col in dfEval.columns[5:12]:
    dfEval.loc[:,col]=dfEval[col].astype("Int64")
dfEval.head()

,date,email,nom,ubm,ordre,1minutes,1minute1,1minute2,1minute3,2minutes,2minute1,2minute2,facile,commentaire
31,2024-12-29 15:24:19-01:00,julie.pgt47@gmail.com,Julie Pouget,julie.pouget1@etu-bordeaux-montaigne.fr,Tâche 2,110,28,50,32,64,42,22,Tâche 2,J'ai trouvé que la tâche 2 était plus dure car...
32,2025-01-02 18:19:09-01:00,guilbaud.mae@gmail.com,Maeva Guilbaud,maeva.guilbaud@etu.u-bordeaux-montaigne.fr,Tâche 1,60,18,16,26,37,20,17,Tâche 2,Il était très compliqué de trouver à qui appar...
33,2025-01-03 15:32:55-01:00,lecomtel079@gmail.com,laura lecomte,laura.lecomte@etu.u-bordeaux-montaigne.fr,Tâche 1,54,19,18,17,10,10,<NA>,Tâche 2,Les tâches ne sont pas compliquées en soit mai...
34,2025-01-04 14:24:07-01:00,marionducasse0@gmail.com,Marion DUCASSE,marion.ducasse1@etu.u-bordeaux-montaigne.fr,Tâche 1,44,19,10,14,35,20,15,Tâche 2,La qualité de l'enregistrement rendait la comp...
35,2025-01-05 12:50:46-01:00,cassisclav@gmail.com,Cassandra CLAVEREAU,cassandra.clavereau@etu.u-bordeaux-montaigne.fr,Tâche 1,115,42,38,35,67,32,35,Tâche 1,Les voix sont très compliqués a différencier e...

In [77]:
dfA=dfEval.loc[dfEval.ordre=="Tâche 1"]
dfB=dfEval.loc[dfEval.ordre=="Tâche 2"]

In [48]:
print(dfA[["1minutes","2minutes"]].mean())
print(dfB[["1minutes","2minutes"]].mean())
print(dfEval[["1minutes","2minutes"]].mean())

1minutes    85.3
2minutes    62.3
dtype: float64
1minutes    88.888889
2minutes    63.888889
dtype: float64
1minutes    87.000000
2minutes    63.052632
dtype: float64

In [122]:
dfEval.groupby("ordre")[["1minutes","1minute1","1minute2","2minutes","2minute1","2minute2"]].mean()

          1minutes   1minute1   1minute2   2minutes   2minute1   2minute2
ordre
Tâche 1       85.3       32.4       27.9       62.3       32.6  27.333333
Tâche 2  88.888889  32.777778  29.111111  63.888889  32.888889       31.0

In [124]:
dfEval.groupby("ordre")[["1minutes","1minute1","1minute2","2minutes","2minute1"]].std()

          1minutes   1minute1   1minute2   2minutes   2minute1
ordre
Tâche 1  50.435988  22.618576  18.740627  48.106479  21.464182
Tâche 2  27.570113  13.863421  10.092627  22.811425  16.335884

In [130]:
dfEval[dfEval["2minute2"].notnull()].groupby("ordre")[["2minute2"]].std()

          2minute2
ordre
Tâche 1  12.990381
Tâche 2  14.662878