# Analyse des tables calendriers de project-gc

In [ ]:
import bs4,codecs,datetime
import pandas as pd
import numpy as np

from dateutil import rrule

from platform import python_version

print (python_version())

### Changer la locale pour avoir les dates en français
https://stackoverflow.com/questions/18593661/how-do-i-strftime-a-date-object-in-a-different-locale

In [16]:
import locale
locale.setlocale(locale.LC_ALL, 'fr_FR')

'fr_FR'

In [17]:
with codecs.open("/Users/gilles/Downloads/GC-CalendarData.html",encoding="utf8") as inFile:
    soup = pd.read_html(inFile,flavor="bs4",index_col=0,header=1)

# Tables des caches par date

In [18]:
dfCal=soup[0].drop(index=np.nan)
dfCal.drop("Unnamed: 32", axis=1, inplace=True)
dfCal

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
Jan,17,5,2,2,4,5,13,4,5,4,...,6,2,2,32,4,3,1,3,8,2
Fév,4,10,30,16,16,2,7,9,4,2,...,23,20,16,4,31,47,16,3,X,X
Mar,8,8,2,3,15,17,1,8,4,7,...,15,9,8,12,14,3,3,4,4,7
Avr,3,4,26,5,12,7,38,13,30,32,...,24,39,7,11,34,38,40,11,4,X
Mai,31,31,25,9,24,17,12,33,2,1,...,23,10,7,36,125,14,16,8,5,3
Jui,9,60,7,17,16,10,8,74,19,16,...,3,14,5,21,28,24,4,1,6,X
Jul,17,20,46,30,41,22,15,5,19,32,...,38,29,16,28,19,33,30,18,32,6
Aou,12,12,11,34,30,37,22,17,25,18,...,5,6,3,15,24,51,36,51,18,22
Sep,26,14,9,11,10,6,18,11,3,9,...,15,5,36,14,5,5,29,36,22,X
Oct,21,3,4,1,4,3,11,12,5,7,...,7,9,19,12,16,16,4,9,22,25
Nov,36,31,24,6,2,1,1,12,1,6,...,1,18,26,2,16,17,5,2,8,X
Déc,21,7,15,2,2,19,1,5,3,5,...,12,4,4,3,20,45,11,11,30,7

In [19]:
dfCalSum=dfCal.replace("X",0).astype(int)
dfCalSum.sum().sum()

5447

In [20]:
d = datetime.datetime.now()
d.strftime("%m"),d.strftime("%d")

('03', '23')

In [23]:
minTrouvees=2
for cDate in (datetime.datetime.now() + datetime.timedelta(n) for n in range(366)):
    cJour=int(cDate.strftime("%d"))-1
    cMois=int(cDate.strftime("%m"))-1
    nbTrouvees=int(dfCal.iat[cMois,cJour])
    if nbTrouvees<minTrouvees:
        print (cDate.strftime("%d/%m %A"))

10/05 Mardi
29/06 Mercredi
19/09 Lundi
04/10 Mardi
11/10 Mardi
06/11 Dimanche
07/11 Lundi
09/11 Mercredi
18/11 Vendredi
22/11 Mardi
07/12 Mercredi
13/12 Mardi
16/12 Vendredi
14/01 Samedi
16/01 Lundi
17/01 Mardi
28/01 Samedi
15/02 Mercredi
07/03 Mardi

# Table des jours de FTF

In [24]:
with codecs.open("/Users/gilles/Downloads/GC-CalendarData.html",encoding="utf8") as inFile:
    content = inFile.read()
    soupFTF = bs4.BeautifulSoup(content, 'html.parser')

### Extraction de la table des trouvailles par jour

In [25]:
divCal=soupFTF.find("div", {"id": "ps_Finds_findsbyfounddate"})
tabCal=divCal.find("table")
# print tabCal

### Exploration de la table des trouvailles
- chaque rangée correspond à un mois
- chaque ligne correspond à un jour

Si un nombre de la table est stylé par *"color: #FFFFFF"*, c'est qu'il n'a pas de FTF

In [29]:
for tr in tabCal.findAll("tr"):
    n=0
    for td in tr.findAll("td"):
        if "class" not in td.attrs:
            print (td.text)
        elif "style" in td.attrs and "color: #FFFFFF" in td.attrs["style"]:
            print (n,end=" ")
        n+=1
    print

Jan
5 8 9 15 16 17 19 27 30 Fév
3 5 6 8 12 15 21 24 25 28 29 Mar
3 6 7 8 9 23 27 29 31 Avr
10 12 13 Mai
4 6 8 9 13 19 24 30 Jui
12 13 24 27 28 29 30 Jul
6 10 18 19 23 26 27 28 29 30 31 Aou
2 3 7 8 10 11 13 14 22 Sep
1 12 18 19 22 24 26 27 28 29 Oct
4 6 7 8 9 14 17 18 19 Nov
6 7 9 10 16 18 19 22 23 30 Déc
3 6 7 10 11 13 14 16 20 24 28 31

# Tables des caches par mois de placement

In [30]:
dfCal=soup[2].drop(index=np.nan)
dfCal.drop("Unnamed: 13", axis=1, inplace=True)
dfCal.iat[0,5]

1.0

In [32]:
startAnnee=2000
startMois=5
nowGC = datetime.datetime.now()
endAnnee=int(nowGC.strftime("%Y"))
endMois=int(nowGC.strftime("%m"))
print (endAnnee,endMois)

2022 3

In [34]:
for anneeGC in range(endAnnee-startAnnee+1):
    missingMonths=[]
    for moisGC in range(12):
        if dfCal.iat[anneeGC,moisGC]!=dfCal.iat[anneeGC,moisGC]:
            missingMonths.append(str(moisGC+1))
    if missingMonths:
        print (anneeGC+startAnnee, ", ".join(missingMonths))

2000 5, 8, 9, 10, 11, 12
2001 1, 2, 3, 4, 5, 6, 7, 8, 9, 11
2002 1, 2, 6, 7, 8, 12
2003 2, 7, 8, 9, 10, 11
2004 1, 2, 3, 4, 6, 8, 9, 11
2005 2, 6, 12
2006 2, 7
2009 12
2022 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12