In [1]:
import codecs,unidecode,yaml,glob,os,shutil,re
import itertools as it
import numpy as np
import pandas as pd
# print(pd.__version__)

In [92]:
sQuizz="10"
nQuizz=int(sQuizz)
fCM=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/CM.csv"
fAliasQDLE=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-Alias.yaml"
fQuizzoodle=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-%s.csv"%sQuizz
# fQuizzoodle=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-UE4-Morphologie/24-Quizz/Quizz-%s.csv"%sQuizz
fNotes=fQuizzoodle.replace(u".csv",u"-Notes.csv")
print fCM,fQuizzoodle

/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/CM.csv /Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-10.csv

In [93]:
'''https://stackoverflow.com/a/35491326/3986209'''
def invert_dict(d): 
    inverse = dict() 
    for key in d: 
        # Go through the list that is saved in the dict:
        for item in d[key]:
            # Check if in the inverted dict the key exists
            if item not in inverse: 
                # If not create a new list
                inverse[item] = [key] 
            else: 
                inverse[item].append(key) 
    return inverse

# Lecture des données

In [94]:
try:
    with codecs.open(fAliasQDLE, 'r', encoding="utf8") as inFile:
        correspondances=yaml.safe_load(inFile)
    alias=correspondances["alias2etu"]
except:
    alias={}
# alias

In [95]:
len(alias)

189

In [96]:
colCM=[u"id",u"nom",u"prénom",u"email",u"ine"]
colQuizz=["pseudo","points","temps"]

try:
    dfCM=pd.read_csv(fCM,sep="\t",encoding="utf8",header=0,names=colCM)
    lQuizz=pd.read_csv(fQuizzoodle,sep=";",encoding="utf8",header=0,names=colQuizz)
    lQuizz.pseudo=lQuizz.pseudo.str.strip()
except:
    dfCM=None
    lQuizz=None

In [97]:
lQuizz, dfCM

(                pseudo  points   temps
 0    Desmouliès Eloane       4  208.29
 1            Bel elena       4  248.96
 2          noemlatorre       4  255.65
 3            Anaé Lamy       3  115.31
 4        Noémie Nelson       3  138.57
 5    Bouffenie marylou       3  171.78
 6     PalomaPigeonnier       3  171.98
 7       Eloise Belvisi       3  191.97
 8        Maelys bertel       3  201.61
 9              Flavroy       3  216.00
 10           Couplaura       3  216.96
 11       Chloé Roubert       3  222.02
 12         Jubertlouna       3  250.00
 13         Elisalatour       3  250.96
 14   degermayquitterie       3  253.30
 15            ayanahla       2   72.23
 16             orlanne       2   77.81
 17  camille etcheverry       2  120.66
 18          Wu Qinglin       2  132.45
 19        Esteves Emma       2  137.46
 20        JustineGanne       2  138.97
 21   roomane.broucaret       2  149.39
 22       Guerbasaldjia       2  151.07
 23       calista veral       2  153.63
 24          Mateo Lucy       2  154.58
 25        maya camacho       2  186.36
 26      roxane.pascaud       2  189.41
 27    Ridley Mortensen       2  208.27
 28     Cubizolles Noah       2  208.77
 29     Marine Michenot       2  222.37
 ..                 ...     ...     ...
 38      juliasalistean       1   92.60
 39    gabrelle sartori       1  108.87
 40        Cléo Mailles       1  114.91
 41     malorie debaire       1  125.40
 42       Manon cerveau       1  131.61
 43    EL HALOUI Maïssa       1  143.77
 44         Alex.verdel       1  160.72
 45            joy.lscr       1  163.04
 46       DUBARRE Anaïs       1  178.00
 47    morgane.reimherr       1  180.32
 48    Justine Fouillet       1  183.85
 49      Amélie Lauilhé       1  197.10
 50       Clément.Augez       1  201.76
 51       Nadâ Sissaoui       1  205.15
 52   kathleen perretin       1  218.87
 53      Karin HIRAYAMA       1  222.40
 54   El Majdoub Hicham       1  235.54
 55      jade.aventurin       1  252.27
 56           Lola Puyo       0    0.00
 57    romane.broucaret       0    0.00
 58             Lou.hyd       0    0.00
 59      lola marcoulet       0   60.47
 60       Choquet clara       0   63.19
 61        louise.dague       0  128.53
 62      Justine.michas       0  175.36
 63     lou.thibautremi       0  183.89
 64        lola.guillon       0  213.74
 65     El mellali chah       0  237.66
 66           Apay merv       0  239.44
 67   Andria.Heriniaina       0  244.67

 [68 rows x 3 columns],          id                     nom          prénom  \
 0    450977  ALONSO LOPEZ-GRAFFEUIL           ALICE
 1    448262       ANDRIAMANALINTSOA      HERINIAINA
 2    450285                 APAYDIN          MERVAN
 3    441237         ATAM-KASSIGADOU           ELIZA
 4    445328                   AUGEZ         CLEMENT
 5    451963               AVENTURIN            JADE
 6    450988        BAPTISTE LAMBERT        REYHNAEL
 7    416094                     BEL      ELENA-ROSE
 8    450742                 BELVISI          ELOISE
 9    450554       BERTEL--BOUSBAINE          MAELYS
 10   451572                 BOUCARD           EMILY
 11   446920               BOUFFENIE         MARYLOU
 12   449093               BROUCARET          ROMANE
 13   450937                   BURET          MAXIME
 14   449047                 CAMACHO            MAYA
 15   451512        CASEIRO MONTEIRO            SARA
 16   447728                CECCALDI        JULIETTE
 17   445098                 CERVEAU           MANON
 18   448035                 CHERAUD           MARIE
 19   448189                 CHOQUET           CLARA
 20   334380                COMBETTE          COLINE
 21   449195                   CORNU           ELISE
 22   400648                 COUPAMA           LAURA
 23   435763              CUBIZOLLES            NOAH
 24   448118          DAGUE--BRANDAO          LOUISE
 25   451454                 DAHMANI         KHADIJA
 26   450565              DE DONCKER            LOLA
 27   450505               DE GERMAY       QUITTERIE
 28   449375       DE LA ROSA CUEVAS     LORENA EMMA
 29   451638                 DEBAIRE         MALORIE
 ..      ...                     ...             ...
 91   450546              PIGEONNIER          PALOMA
 92   451262                  PIOTON             ANA
 93   448381                    PONS          MAXIME
 94   447966                  PORTES            LILY
 95   441166                    PUYO            LOLA
 96   449249       RAMEAU--EL HAYANI         ORLANNE
 97   426755                 RECULET          MARIUS
 98   447019                REIMHERR         MORGANE
 99   450773                    REMY          JAEDEN
 100  447920         RIMBOEUF--PORTE            OONA
 101  447962  RODRIGUEZ-PEREZ--HERVE          MAELYS
 102  451809                ROIGNANT            PAUL
 103  446964        ROUBERT DIEUAIDE           CHLOE
 104  451874                     ROY           FLAVY
 105  448410               SALIMBENI           YANIS
 106  446791               SALISTEAN           JULIA
 107  449461                 SARTORI       GABRIELLE
 108  438481                SISSAOUI            NADA
 109  402804               SULEJMANI         CAMILLA
 110  450446           THIBAUT--REMI             LOU
 111  443367               TSIFANAVI           LUCIA
 112  450555                  VALADE         PAULINE
 113  446664                   VERAL         CALISTA
 114  447703                  VERDEL          ALEXIA
 115  449233               VIGOUROUX           LOANE
 116  431171                   VINET             LEA
 117  449081                 WILSHAW  JORDAN WILLIAM
 118  449075                      WU         QINGLIN
 119  450686                  YBANEZ          MARINE
 120  449046                   ZHANG          QINYAN

                                                  email         ine
 0    alice.alonso-lopez-graffeuil@etu.u-bordeaux-mo...  1729585480
 1    heriniaina.andriamanalintsoa@etu.u-bordeaux-mo...  1729585480
 2           mervan.apaydin@etu.u-bordeaux-montaigne.fr  1729585480
 3    eliza.atam-kassigadou@etu.u-bordeaux-montaigne.fr  1729585480
 4            clement.augez@etu.u-bordeaux-montaigne.fr  1729585480
 5           jade.aventurin@etu.u-bordeaux-montaigne.fr  1729585480
 6    reyhnael.baptiste-lambert@etu.u-bordeaux-monta...  1729585480
 7           elena-rose.bel@etu.u-bordeaux-montaigne.fr  1729585480
 8           eloise.belvisi@etu.u-bordeaux-montaigne.fr  1729585480
 9    maelys.bertel--bousbaine@etu.u-bordeaux-montai...  1729585480
 10           emily.boucard@etu.u-bordeaux-montaigne.fr  1729585480
 11       marylou.bouffenie@etu.u-bordeaux-montaigne.fr  1729585480
 12        romane.broucaret@etu.u-bordeaux-montaigne.fr  1729585480
 13            maxime.buret@etu.u-bordeaux-montaigne.fr  1729585480
 14            maya.camacho@etu.u-bordeaux-montaigne.fr  1729585480
 15   sara.caseiro-monteiro@etu.u-bordeaux-montaigne.fr  1729585480
 16       juliette.ceccaldi@etu.u-bordeaux-montaigne.fr  1729585480
 17           manon.cerveau@etu.u-bordeaux-montaigne.fr  1729585480
 18           marie.cheraud@etu.u-bordeaux-montaigne.fr  1729585480
 19           clara.choquet@etu.u-bordeaux-montaigne.fr  1729585480
 20         coline.combette@etu.u-bordeaux-montaigne.fr  1729585480
 21             elise.cornu@etu.u-bordeaux-montaigne.fr  1729585480
 22           laura.coupama@etu.u-bordeaux-montaigne.fr  1729585480
 23         noah.cubizolles@etu.u-bordeaux-montaigne.fr  1729585480
 24   louise.dague--brandao@etu.u-bordeaux-montaigne.fr  1729585480
 25         khadija.dahmani@etu.u-bordeaux-montaigne.fr  1729585480
 26         lola.de-doncker@etu.u-bordeaux-montaigne.fr  1729585480
 27     quitterie.de-germay@etu.u-bordeaux-montaigne.fr  1729585480
 28   lorena-emma.de-la-rosa-cuevas@etu.u-bordeaux-m...  1729585480
 29         malorie.debaire@etu.u-bordeaux-montaigne.fr  1729585480
 ..                                                 ...         ...
 91       paloma.pigeonnier@etu.u-bordeaux-montaigne.fr  1729585480
 92              ana.pioton@etu.u-bordeaux-montaigne.fr  1729585480
 93             maxime.pons@etu.u-bordeaux-montaigne.fr  1729585480
 94             lily.portes@etu.u-bordeaux-montaigne.fr  1729585480
 95               lola.puyo@etu.u-bordeaux-montaigne.fr  1729585480
 96   orlanne.rameau--el-hayani@etu.u-bordeaux-monta...  1729585480
 97          marius.reculet@etu.u-bordeaux-montaigne.fr  1729585480
 98        morgane.reimherr@etu.u-bordeaux-montaigne.fr  1729585480
 99             jaeden.remy@etu.u-bordeaux-montaigne.fr  1729585480
 100   oona.rimboeuf--porte@etu.u-bordeaux-montaigne.fr  1729585480
 101  maelys.rodriguez-perez--herve@etu.u-bordeaux-m...  1729585480
 102          paul.roignant@etu.u-bordeaux-montaigne.fr  1729585480
 103  chloe.roubert-dieuaide@etu.u-bordeaux-montaign...  1729585480
 104              flavy.roy@etu.u-bordeaux-montaigne.fr  1729585480
 105        yanis.salimbeni@etu.u-bordeaux-montaigne.fr  1729585480
 106        julia.salistean@etu.u-bordeaux-montaigne.fr  1729585480
 107      gabrielle.sartori@etu.u-bordeaux-montaigne.fr  1729585480
 108          nada.sissaoui@etu.u-bordeaux-montaigne.fr  1729585480
 109      camilla.sulejmani@etu.u-bordeaux-montaigne.fr  1729585480
 110      lou.thibaut--remi@etu.u-bordeaux-montaigne.fr  1729585480
 111        lucia.tsifanavi@etu.u-bordeaux-montaigne.fr  1729585480
 112        pauline.valade2@etu.u-bordeaux-montaigne.fr  1729585480
 113          calista.veral@etu.u-bordeaux-montaigne.fr  1729585480
 114          alexia.verdel@etu.u-bordeaux-montaigne.fr  1729585480
 115        loane.vigouroux@etu.u-bordeaux-montaigne.fr  1729585480
 116              lea.vinet@etu.u-bordeaux-montaigne.fr  1729585480
 117  jordan-william.wilshaw@etu.u-bordeaux-montaign...  1729585480
 118             qinglin.wu@etu.u-bordeaux-montaigne.fr  1729585480
 119          marine.ybanez@etu.u-bordeaux-montaigne.fr  1729585480
 120           qinyan.zhang@etu.u-bordeaux-montaigne.fr  1729585480

 [121 rows x 5 columns])

In [98]:
pseudos=lQuizz[~(lQuizz["pseudo"].isin(alias))]["pseudo"].str.strip().tolist()
print "\n".join(pseudos)

Couplaura
Wu Qinglin
roomane.broucaret
gabrelle sartori
Lola Puyo
Lou.hyd

# Listage des alias

In [99]:
dfCM["PN"]=dfCM[u"prénom"].str.lower().str.strip()+" "+dfCM[u"nom"].str.lower().str.strip()
dfCM["NP"]=dfCM[u"nom"].str.lower().str.strip()+" "+dfCM[u"prénom"].str.lower().str.strip()
dfCM["P-N"]=dfCM[u"prénom"].str.lower().str.strip()+"-"+dfCM[u"nom"].str.lower().str.strip()
dfCM["N-P"]=dfCM[u"nom"].str.lower().str.strip()+"-"+dfCM[u"prénom"].str.lower().str.strip()
dfCM["P.N"]=dfCM[u"prénom"].str.lower().str.strip()+"."+dfCM[u"nom"].str.lower().str.strip()
dfCM["N.P"]=dfCM[u"nom"].str.lower().str.strip()+"."+dfCM[u"prénom"].str.lower().str.strip()
# dfCM

pn=dfCM["PN"].tolist()
p_n=dfCM["P-N"].tolist()
np=dfCM["NP"].tolist()
n_p=dfCM["N-P"].tolist()

In [100]:
pn=dfCM["PN"].tolist()
pnT=dfCM["P-N"].tolist()
pnD=dfCM["P.N"].tolist()
np=dfCM["NP"].tolist()
npT=dfCM["N-P"].tolist()
npD=dfCM["N.P"].tolist()
lNomPrenom={"PN":pn,"P-N":pnT,"P.N":pnD,"NP":np,"N-P":npT,"N.P":npD}

In [101]:
for pseudo in pseudos:
    for nomPrenom in lNomPrenom:
        if unidecode.unidecode(pseudo.lower()) in lNomPrenom[nomPrenom]:
            print pseudo,dfCM[dfCM[nomPrenom]==unidecode.unidecode(pseudo.lower())]["id"].values[0]
            alias[pseudo]=[str(dfCM[dfCM[nomPrenom]==unidecode.unidecode(pseudo.lower())]["id"].values[0])]

Wu Qinglin 449075
Lola Puyo 441166

In [102]:
pseudos=lQuizz[~(lQuizz["pseudo"].isin(alias))]["pseudo"].str.strip().tolist()
print "\n".join(pseudos)

Couplaura
roomane.broucaret
gabrelle sartori
Lou.hyd

In [103]:
for nP,pseudoBrut in enumerate(pseudos):
    pseudo=unidecode.unidecode(pseudoBrut)
    print pseudo
    sPseudo = raw_input("Nom a chercher:\n")
    if sPseudo:
        print dfCM[dfCM["PN"].str.contains(sPseudo.lower())][["PN","id"]]
        idPseudo=raw_input("id :\n")
        if idPseudo:
            alias[pseudoBrut]=idPseudo

Couplaura

Nom a chercher:
 laura

               PN      id
22  laura coupama  400648

id :
 400648

roomane.broucaret

Nom a chercher:
 romane

                  PN      id
12  romane broucaret  449093
65     romane lebeau  450388

id :
 449093

gabrelle sartori

Nom a chercher:
 sartori

                    PN      id
107  gabrielle sartori  449461

id :
 449461

Lou.hyd

Nom a chercher:
 lou

                        PN      id
11       marylou bouffenie  446920
24   louise dague--brandao  448118
33        maissa el haloui  446773
52               lou hydie  448277
54            louna jubert  448621
78         louwen moronval  438823
110      lou thibaut--remi  450446

id :
 448277

for k,v in alias.iteritems():
    print k,v[0][0][0]
    alias[k]=v[0][0][0].split(" ")
alias

In [104]:
# pseudo=u"csaintavi001 ebismes001"
# alias[pseudo]=["415962","413429"]

In [105]:
sPseudo="bisme"
print dfCM[dfCM["PN"].str.contains(sPseudo.lower())][["PN","id"]]

Empty DataFrame
Columns: [PN, id]
Index: []

In [106]:
pseudos

[u'Couplaura', u'roomane.broucaret', u'gabrelle sartori', u'Lou.hyd']

In [107]:
# alias["Sofiane"]

In [108]:
for al in alias:
    if not isinstance(alias[al],list):
        if " " in alias[al]:
            alias[al]=alias[al].split(" ")
        else:
            alias[al]=[alias[al]]

In [109]:
len(alias)

195

In [110]:
invAlias=invert_dict(alias)
#invAlias[385732]=[u'adiarra001, cbeauvais004']
correspondances={"alias2etu":alias,"etu2alias":invAlias}
correspondances

{'alias2etu': {'A.verdel': ['447703'],
  'ANDHERIN': ['448262'],
  'ANDRIA.HERIN': ['448262'],
  'Alex.verdel': ['447703'],
  'Alice Alonso': ['450977'],
  'Alix Lonlas': ['450067'],
  u'Am\xe9lie Lauilh\xe9': ['448793'],
  'Ana PIOTON': ['451262'],
  'Ana Pioton': ['451262'],
  u'Ana\xe9': ['438682'],
  u'Ana\xe9 Lamy': ['438682'],
  'Andria.Heriniaina': ['448262'],
  'Apay merv': ['450285'],
  'Apaydin Mervan': ['450285'],
  'Bel Elena-Rose': ['416094'],
  'Bel elena': ['416094'],
  'Belvisi Eloise': ['450742'],
  'Blanche Navarro': ['451482'],
  'Bouffenie marylou': ['446920'],
  u'CL\xc9MENT.augez': ['445328'],
  'Camilla Sulejmani': ['402804'],
  'Camille Etcheverry': ['446690'],
  'Charlotte Durocher': ['444843'],
  'Cheick GUIRA': ['451579'],
  'Chlo Roub': ['446964'],
  u'Chlo\xe9 Roubert': ['446964'],
  u'Chlo\xe9 Roubert Dieuaide': ['446964'],
  'Choquet Clara': ['448189'],
  'Choquet clara': ['448189'],
  'Cla cho': ['448189'],
  'Clara Choquet': ['448189'],
  'Clara choquet': ['448189'],
  u'Cl\xe9ment.Augez': ['445328'],
  u'Cl\xe9ment.augez': ['445328'],
  u'Cl\xe9mentineLagneaux': ['413294'],
  u'Cl\xe9o Mailles': ['447289'],
  'ColComb': ['334380'],
  'Combcol': ['334380'],
  'Comcol': ['334380'],
  u'Couplaura': ['400648'],
  'Cubizolles Noah': ['435763'],
  u'DUBARRE Ana\xefs': ['447632'],
  u'Desmouli\xe8s Eloane': ['446480'],
  u'EL HALOUI Ma\xefssa': ['446773'],
  'El Majdoub Hicham': ['447697'],
  'El mellali chah': ['445918'],
  'El mellali chahid': ['445918'],
  'Elisalatour': ['450741'],
  'Elmajdoub hicham': ['447697'],
  u'Eloane.Desmouli\xe8s': ['446480'],
  'Eloise Belvisi': ['450742'],
  u'Elo\xefse Belvisi': ['450742'],
  'Emily Boucard': ['451572'],
  'Emma Esteves': ['449339'],
  'Enzo Montalarq': ['452416'],
  'Esteves Emma': ['449339'],
  'FLAVROY': ['451874'],
  'Flavroy': ['451874'],
  'Flavy Roy': ['451874'],
  'Gourlay Matis': ['440388'],
  'Gue aldj': ['451571'],
  'Guerb aldjia': ['451571'],
  'Guerbas aldjia': ['451571'],
  'Guerbasaldjia': ['451571'],
  u'Jade R\xe9my': ['450773'],
  'Jade.aventurin': ['451963'],
  'Jordan Wilshaw': ['449081'],
  'Joy.lscr': ['447655'],
  'Jubertlouna': ['448621'],
  'Juliette Ceccaldi': ['447728'],
  'Justine Fouillet': ['446740'],
  'Justine.Fouillet': ['446740'],
  'Justine.michas': ['447689'],
  'JustineGanne': ['446746'],
  'Karin HIRAYAMA': ['444338'],
  'Katy Malcolm': ['450338'],
  'Khad': ['451454'],
  'Khadija Dahmani': ['451454'],
  u'LUGA Chlo\xe9': ['445324'],
  u'LUGAChlo\xe9': ['445324'],
  'Laura Coupama': ['400648'],
  'Laura c': ['400648'],
  'Laura coupama': ['400648'],
  'Lea.vinet': ['431171'],
  'LebRom': ['450388'],
  'Lebeau Romane': ['450388'],
  'Liam M': ['448778'],
  'Liam M / Melvyn N': ['448778', '402760'],
  'Liam Mouchon': ['448778'],
  u'Lola Puyo': ['441166'],
  'Lola.Marcoulet': ['448247'],
  'Lonlas Alix': ['450067'],
  'Lou Hydie': ['448277'],
  u'Lou.hyd': ['448277'],
  'Lou.thibautremi': ['450446'],
  'Lounajubert': ['448621'],
  'Lucie gourmanel': ['447738'],
  'Lucy Mateo': ['445501'],
  u'Luc\xeda': ['443367'],
  u'LugaChlo\xe9': ['445324'],
  u'L\xe9a.vinet': ['431171'],
  u'Maelys Rodriguez-Perez--Herv\xe9': ['447962'],
  'Maelys b': ['450554'],
  'Maelys bertel': ['450554'],
  'Manon Garsaud': ['450517'],
  'Manon cerveau': ['445098'],
  'Manon.cer': ['445098'],
  'Marie CHERAUD': ['448035'],
  'Marine Michenot': ['450735'],
  'Mateo Lucy': ['445501'],
  'Maxime Pons': ['448381'],
  'Maxime buret': ['450937'],
  u'Ma\xefssa ELHALOUI': ['446773'],
  'Michel Fleuranceau': ['447984'],
  'Montenzo': ['452416'],
  'Mouquet Kimberley': ['448567'],
  u'Nad\xe2 Sissaoui': ['438481'],
  u'No\xe9mie Langue': ['380839'],
  u'No\xe9mie Nelson': ['446682'],
  u'No\xe9mie.langue': ['380839'],
  'Orlanne': ['449249'],
  'Orlanne rameau el hayani': ['449249'],
  'PalomaPigeonnier': ['450546'],
  'Pauline Valade': ['450555'],
  'Qinyan Zhang': ['449046'],
  'Qinyan-Zhang': ['449046'],
  'Quittdegerm': ['450505'],
  'Quitteriedegerm': ['450505'],
  'RidMort': ['433462'],
  'Ridley Mortensen': ['433462'],
  u'Rodriguez-Perez--Herv\xe9 Ma\xeblys': ['447962'],
  'RomPet': ['436744'],
  'Romane Lebeau': ['450388'],
  'Sara Le Gall': ['451471'],
  u'Sissaoui Nad\xe2': ['438481'],
  'TSIFANAVI Lucia': ['443367'],
  u'Vinet L\xe9a': ['431171'],
  u'Vinet.L\xe9a': ['431171'],
  u'V\xe9ral Calista': ['446664'],
  'WU Qinglin': ['449075'],
  'Wilsh': ['449081'],
  u'Wu Qinglin': ['449075'],
  'alice alonso': ['450977'],
  'anneso.jacinto': ['451358'],
  'anneso.jct': ['451358'],
  'ansojct': ['451358'],
  'augclem': ['445328'],
  u'augcl\xe9m': ['445328'],
  'ayanahla': ['447457'],
  'bouffenie-marylou': ['446920'],
  'calista veral': ['446664'],
  'camille etcheverry': ['446690'],
  u'cl\xe9ment.augez': ['445328'],
  'degermayquitterie': ['450505'],
  'elise cornu': ['449195'],
  'emy hbr': ['450547'],
  'emy huber': ['450547'],
  u'gabrelle sartori': ['449461'],
  'gabrielle sartori': ['449461'],
  'guillon.lola': ['449214'],
  'jade.aventurin': ['451963'],
  'joy.lscr': ['447655'],
  'juliasalistean': ['446791'],
  'kathleen': ['451148'],
  'kathleen perretin': ['451148'],
  'kathleen.perretin': ['451148'],
  'kim mouquet': ['448567'],
  'lena_pavie': ['438087'],
  'loanev': ['449233'],
  'loanevigouroux': ['449233'],
  'lola marcoulet': ['448247'],
  'lola.guillon': ['449214'],
  'lou.thibautremi': ['450446'],
  'louise.dague': ['448118'],
  'malorie debaire': ['451638'],
  'man.gar': ['450517'],
  'manon.garsaud': ['450517'],
  'maya c': ['449047'],
  'maya camacho': ['449047'],
  'morgane.reimherr': ['447019'],
  'mou kim': ['448567'],
  'moukim': ['448567'],
  'mouquet Kim': ['448567'],
  'mouquet kim': ['448567'],
  'nahla aya': ['447457'],
  'noemielatorre': ['447541'],
  'noemlatorre': ['447541'],
  'orlanne': ['449249'],
  'orlanne rm': ['449249'],
  'paul-roignant': ['451809'],
  'romane.broucaret': ['449093'],
  'romanebroucaret': ['449093'],
  u'roomane.broucaret': ['449093'],
  'roxane.pascaud': ['448131'],
  u'\xc2ya Nahla': ['447457']},
 'etu2alias': {'334380': ['ColComb', 'Combcol', 'Comcol'],
  '380839': [u'No\xe9mie Langue', u'No\xe9mie.langue'],
  '400648': ['Laura c', 'Laura Coupama', 'Laura coupama', u'Couplaura'],
  '402760': ['Liam M / Melvyn N'],
  '402804': ['Camilla Sulejmani'],
  '413294': [u'Cl\xe9mentineLagneaux'],
  '416094': ['Bel Elena-Rose', 'Bel elena'],
  '431171': [u'Vinet L\xe9a', u'Vinet.L\xe9a', 'Lea.vinet', u'L\xe9a.vinet'],
  '433462': ['Ridley Mortensen', 'RidMort'],
  '435763': ['Cubizolles Noah'],
  '436744': ['RomPet'],
  '438087': ['lena_pavie'],
  '438481': [u'Sissaoui Nad\xe2', u'Nad\xe2 Sissaoui'],
  '438682': [u'Ana\xe9', u'Ana\xe9 Lamy'],
  '440388': ['Gourlay Matis'],
  '441166': [u'Lola Puyo'],
  '443367': ['TSIFANAVI Lucia', u'Luc\xeda'],
  '444338': ['Karin HIRAYAMA'],
  '444843': ['Charlotte Durocher'],
  '445098': ['Manon cerveau', 'Manon.cer'],
  '445324': [u'LugaChlo\xe9', u'LUGA Chlo\xe9', u'LUGAChlo\xe9'],
  '445328': [u'Cl\xe9ment.Augez',
   u'Cl\xe9ment.augez',
   u'augcl\xe9m',
   'augclem',
   u'CL\xc9MENT.augez',
   u'cl\xe9ment.augez'],
  '445501': ['Lucy Mateo', 'Mateo Lucy'],
  '445918': ['El mellali chah', 'El mellali chahid'],
  '446480': [u'Desmouli\xe8s Eloane', u'Eloane.Desmouli\xe8s'],
  '446664': ['calista veral', u'V\xe9ral Calista'],
  '446682': [u'No\xe9mie Nelson'],
  '446690': ['Camille Etcheverry', 'camille etcheverry'],
  '446740': ['Justine Fouillet', 'Justine.Fouillet'],
  '446746': ['JustineGanne'],
  '446773': [u'Ma\xefssa ELHALOUI', u'EL HALOUI Ma\xefssa'],
  '446791': ['juliasalistean'],
  '446920': ['bouffenie-marylou', 'Bouffenie marylou'],
  '446964': ['Chlo Roub', u'Chlo\xe9 Roubert Dieuaide', u'Chlo\xe9 Roubert'],
  '447019': ['morgane.reimherr'],
  '447289': [u'Cl\xe9o Mailles'],
  '447457': ['ayanahla', u'\xc2ya Nahla', 'nahla aya'],
  '447541': ['noemlatorre', 'noemielatorre'],
  '447632': [u'DUBARRE Ana\xefs'],
  '447655': ['Joy.lscr', 'joy.lscr'],
  '447689': ['Justine.michas'],
  '447697': ['Elmajdoub hicham', 'El Majdoub Hicham'],
  '447703': ['A.verdel', 'Alex.verdel'],
  '447728': ['Juliette Ceccaldi'],
  '447738': ['Lucie gourmanel'],
  '447962': [u'Rodriguez-Perez--Herv\xe9 Ma\xeblys',
   u'Maelys Rodriguez-Perez--Herv\xe9'],
  '447984': ['Michel Fleuranceau'],
  '448035': ['Marie CHERAUD'],
  '448118': ['louise.dague'],
  '448131': ['roxane.pascaud'],
  '448189': ['Choquet clara',
   'Cla cho',
   'Choquet Clara',
   'Clara Choquet',
   'Clara choquet'],
  '448247': ['lola marcoulet', 'Lola.Marcoulet'],
  '448262': ['ANDRIA.HERIN', 'Andria.Heriniaina', 'ANDHERIN'],
  '448277': ['Lou Hydie', u'Lou.hyd'],
  '448381': ['Maxime Pons'],
  '448567': ['Mouquet Kimberley',
   'mouquet Kim',
   'kim mouquet',
   'mou kim',
   'mouquet kim',
   'moukim'],
  '448621': ['Jubertlouna', 'Lounajubert'],
  '448778': ['Liam M / Melvyn N', 'Liam M', 'Liam Mouchon'],
  '448793': [u'Am\xe9lie Lauilh\xe9'],
  '449046': ['Qinyan Zhang', 'Qinyan-Zhang'],
  '449047': ['maya camacho', 'maya c'],
  '449075': [u'Wu Qinglin', 'WU Qinglin'],
  '449081': ['Wilsh', 'Jordan Wilshaw'],
  '449093': ['romane.broucaret', u'roomane.broucaret', 'romanebroucaret'],
  '449195': ['elise cornu'],
  '449214': ['lola.guillon', 'guillon.lola'],
  '449233': ['loanev', 'loanevigouroux'],
  '449249': ['orlanne', 'Orlanne rameau el hayani', 'orlanne rm', 'Orlanne'],
  '449339': ['Emma Esteves', 'Esteves Emma'],
  '449461': ['gabrielle sartori', u'gabrelle sartori'],
  '450067': ['Alix Lonlas', 'Lonlas Alix'],
  '450285': ['Apaydin Mervan', 'Apay merv'],
  '450338': ['Katy Malcolm'],
  '450388': ['Romane Lebeau', 'LebRom', 'Lebeau Romane'],
  '450446': ['lou.thibautremi', 'Lou.thibautremi'],
  '450505': ['degermayquitterie', 'Quitteriedegerm', 'Quittdegerm'],
  '450517': ['man.gar', 'manon.garsaud', 'Manon Garsaud'],
  '450546': ['PalomaPigeonnier'],
  '450547': ['emy hbr', 'emy huber'],
  '450554': ['Maelys b', 'Maelys bertel'],
  '450555': ['Pauline Valade'],
  '450735': ['Marine Michenot'],
  '450741': ['Elisalatour'],
  '450742': [u'Elo\xefse Belvisi', 'Eloise Belvisi', 'Belvisi Eloise'],
  '450773': [u'Jade R\xe9my'],
  '450937': ['Maxime buret'],
  '450977': ['alice alonso', 'Alice Alonso'],
  '451148': ['kathleen.perretin', 'kathleen', 'kathleen perretin'],
  '451262': ['Ana PIOTON', 'Ana Pioton'],
  '451358': ['ansojct', 'anneso.jacinto', 'anneso.jct'],
  '451454': ['Khad', 'Khadija Dahmani'],
  '451471': ['Sara Le Gall'],
  '451482': ['Blanche Navarro'],
  '451571': ['Guerbas aldjia', 'Guerb aldjia', 'Guerbasaldjia', 'Gue aldj'],
  '451572': ['Emily Boucard'],
  '451579': ['Cheick GUIRA'],
  '451638': ['malorie debaire'],
  '451809': ['paul-roignant'],
  '451874': ['Flavroy', 'FLAVROY', 'Flavy Roy'],
  '451963': ['jade.aventurin', 'Jade.aventurin'],
  '452416': ['Enzo Montalarq', 'Montenzo']}}

In [111]:
with codecs.open(fAliasQDLE, 'w', encoding="utf8") as outfile:
    yaml.safe_dump(correspondances, outfile, default_flow_style=False)

# Calcul des notes
Attention au nombre de questions

In [112]:
nbQuestions=[7,7,7,7,7,7,7,6,6,6,6]
nbQuestions=[7,7,7,7,7,7,6,6,6,6,6]
nbQ=float(nbQuestions[nQuizz-1])
print nbQ

6.0

In [113]:
def aliasQuizz(pseudo):
    result=None
    if pseudo in alias:
        result=alias[pseudo]
    return result

def noteQuizz(points):   
    result=8
    if points>0:
        result=int(round(10*(1+points/nbQ),0))
    return result
        
        

lQuizz["id"]=lQuizz["pseudo"].apply(aliasQuizz)
lQuizz["note"]=lQuizz["points"].apply(noteQuizz)

In [114]:
def splitPseudo1(id):
    result=None
    if id and len(id)>0:
        result=id[0]
    return result

def splitPseudo2(id):
    result=None
    if id and len(id)>1:
        result=id[1]
    return result

def splitPseudo3(id):
    result=None
    if id and len(id)>2:
        result=id[2]
    return result

lQuizz["id1"]=lQuizz["id"].apply(splitPseudo1)
lQuizz["id2"]=lQuizz["id"].apply(splitPseudo2)
lQuizz["id3"]=lQuizz["id"].apply(splitPseudo3)

lQuizz

                pseudo  points   temps        id  note     id1   id2   id3
0    Desmouliès Eloane       4  208.29  [446480]    17  446480  None  None
1            Bel elena       4  248.96  [416094]    17  416094  None  None
2          noemlatorre       4  255.65  [447541]    17  447541  None  None
3            Anaé Lamy       3  115.31  [438682]    15  438682  None  None
4        Noémie Nelson       3  138.57  [446682]    15  446682  None  None
5    Bouffenie marylou       3  171.78  [446920]    15  446920  None  None
6     PalomaPigeonnier       3  171.98  [450546]    15  450546  None  None
7       Eloise Belvisi       3  191.97  [450742]    15  450742  None  None
8        Maelys bertel       3  201.61  [450554]    15  450554  None  None
9              Flavroy       3  216.00  [451874]    15  451874  None  None
10           Couplaura       3  216.96  [400648]    15  400648  None  None
11       Chloé Roubert       3  222.02  [446964]    15  446964  None  None
12         Jubertlouna       3  250.00  [448621]    15  448621  None  None
13         Elisalatour       3  250.96  [450741]    15  450741  None  None
14   degermayquitterie       3  253.30  [450505]    15  450505  None  None
15            ayanahla       2   72.23  [447457]    13  447457  None  None
16             orlanne       2   77.81  [449249]    13  449249  None  None
17  camille etcheverry       2  120.66  [446690]    13  446690  None  None
18          Wu Qinglin       2  132.45  [449075]    13  449075  None  None
19        Esteves Emma       2  137.46  [449339]    13  449339  None  None
20        JustineGanne       2  138.97  [446746]    13  446746  None  None
21   roomane.broucaret       2  149.39  [449093]    13  449093  None  None
22       Guerbasaldjia       2  151.07  [451571]    13  451571  None  None
23       calista veral       2  153.63  [446664]    13  446664  None  None
24          Mateo Lucy       2  154.58  [445501]    13  445501  None  None
25        maya camacho       2  186.36  [449047]    13  449047  None  None
26      roxane.pascaud       2  189.41  [448131]    13  448131  None  None
27    Ridley Mortensen       2  208.27  [433462]    13  433462  None  None
28     Cubizolles Noah       2  208.77  [435763]    13  435763  None  None
29     Marine Michenot       2  222.37  [450735]    13  450735  None  None
..                 ...     ...     ...       ...   ...     ...   ...   ...
38      juliasalistean       1   92.60  [446791]    12  446791  None  None
39    gabrelle sartori       1  108.87  [449461]    12  449461  None  None
40        Cléo Mailles       1  114.91  [447289]    12  447289  None  None
41     malorie debaire       1  125.40  [451638]    12  451638  None  None
42       Manon cerveau       1  131.61  [445098]    12  445098  None  None
43    EL HALOUI Maïssa       1  143.77  [446773]    12  446773  None  None
44         Alex.verdel       1  160.72  [447703]    12  447703  None  None
45            joy.lscr       1  163.04  [447655]    12  447655  None  None
46       DUBARRE Anaïs       1  178.00  [447632]    12  447632  None  None
47    morgane.reimherr       1  180.32  [447019]    12  447019  None  None
48    Justine Fouillet       1  183.85  [446740]    12  446740  None  None
49      Amélie Lauilhé       1  197.10  [448793]    12  448793  None  None
50       Clément.Augez       1  201.76  [445328]    12  445328  None  None
51       Nadâ Sissaoui       1  205.15  [438481]    12  438481  None  None
52   kathleen perretin       1  218.87  [451148]    12  451148  None  None
53      Karin HIRAYAMA       1  222.40  [444338]    12  444338  None  None
54   El Majdoub Hicham       1  235.54  [447697]    12  447697  None  None
55      jade.aventurin       1  252.27  [451963]    12  451963  None  None
56           Lola Puyo       0    0.00  [441166]     8  441166  None  None
57    romane.broucaret       0    0.00  [449093]     8  449093  None  None
58             Lou.hyd       0    0.00  [448277]     8  448277  None  None
59      lola marcoulet       0   60.47  [448247]     8  448247  None  None
60       Choquet clara       0   63.19  [448189]     8  448189  None  None
61        louise.dague       0  128.53  [448118]     8  448118  None  None
62      Justine.michas       0  175.36  [447689]     8  447689  None  None
63     lou.thibautremi       0  183.89  [450446]     8  450446  None  None
64        lola.guillon       0  213.74  [449214]     8  449214  None  None
65     El mellali chah       0  237.66  [445918]     8  445918  None  None
66           Apay merv       0  239.44  [450285]     8  450285  None  None
67   Andria.Heriniaina       0  244.67  [448262]     8  448262  None  None

[68 rows x 8 columns]

In [115]:
df1=lQuizz[["pseudo","note","temps","id1"]].dropna()
df2=lQuizz[["pseudo","note","temps","id2"]].dropna()
df3=lQuizz[["pseudo","note","temps","id3"]].dropna()
df1.columns=["pseudo","note","temps","id"]
df2.columns=["pseudo","note","temps","id"]
df3.columns=["pseudo","note","temps","id"]

In [116]:
df123=pd.concat([df1,df2,df3]).sort_values(["note","temps"],ascending=[False,True]).reset_index(drop=True)
df123

                pseudo  note   temps      id
0    Desmouliès Eloane    17  208.29  446480
1            Bel elena    17  248.96  416094
2          noemlatorre    17  255.65  447541
3            Anaé Lamy    15  115.31  438682
4        Noémie Nelson    15  138.57  446682
5    Bouffenie marylou    15  171.78  446920
6     PalomaPigeonnier    15  171.98  450546
7       Eloise Belvisi    15  191.97  450742
8        Maelys bertel    15  201.61  450554
9              Flavroy    15  216.00  451874
10           Couplaura    15  216.96  400648
11       Chloé Roubert    15  222.02  446964
12         Jubertlouna    15  250.00  448621
13         Elisalatour    15  250.96  450741
14   degermayquitterie    15  253.30  450505
15            ayanahla    13   72.23  447457
16             orlanne    13   77.81  449249
17  camille etcheverry    13  120.66  446690
18          Wu Qinglin    13  132.45  449075
19        Esteves Emma    13  137.46  449339
20        JustineGanne    13  138.97  446746
21   roomane.broucaret    13  149.39  449093
22       Guerbasaldjia    13  151.07  451571
23       calista veral    13  153.63  446664
24          Mateo Lucy    13  154.58  445501
25        maya camacho    13  186.36  449047
26      roxane.pascaud    13  189.41  448131
27    Ridley Mortensen    13  208.27  433462
28     Cubizolles Noah    13  208.77  435763
29     Marine Michenot    13  222.37  450735
..                 ...   ...     ...     ...
38      juliasalistean    12   92.60  446791
39    gabrelle sartori    12  108.87  449461
40        Cléo Mailles    12  114.91  447289
41     malorie debaire    12  125.40  451638
42       Manon cerveau    12  131.61  445098
43    EL HALOUI Maïssa    12  143.77  446773
44         Alex.verdel    12  160.72  447703
45            joy.lscr    12  163.04  447655
46       DUBARRE Anaïs    12  178.00  447632
47    morgane.reimherr    12  180.32  447019
48    Justine Fouillet    12  183.85  446740
49      Amélie Lauilhé    12  197.10  448793
50       Clément.Augez    12  201.76  445328
51       Nadâ Sissaoui    12  205.15  438481
52   kathleen perretin    12  218.87  451148
53      Karin HIRAYAMA    12  222.40  444338
54   El Majdoub Hicham    12  235.54  447697
55      jade.aventurin    12  252.27  451963
56           Lola Puyo     8    0.00  441166
57    romane.broucaret     8    0.00  449093
58             Lou.hyd     8    0.00  448277
59      lola marcoulet     8   60.47  448247
60       Choquet clara     8   63.19  448189
61        louise.dague     8  128.53  448118
62      Justine.michas     8  175.36  447689
63     lou.thibautremi     8  183.89  450446
64        lola.guillon     8  213.74  449214
65     El mellali chah     8  237.66  445918
66           Apay merv     8  239.44  450285
67   Andria.Heriniaina     8  244.67  448262

[68 rows x 4 columns]

In [117]:
df123.loc[(df123.note==8)&(df123.temps>0),"note"]=10

In [118]:
df123.loc[1,"note"]

17

In [119]:
df123.at[0, 'note'] = 20
if df123.loc[1, "note"]<18:
    df123.at[1, 'note'] = 18
df123

                pseudo  note   temps      id
0    Desmouliès Eloane    20  208.29  446480
1            Bel elena    18  248.96  416094
2          noemlatorre    17  255.65  447541
3            Anaé Lamy    15  115.31  438682
4        Noémie Nelson    15  138.57  446682
5    Bouffenie marylou    15  171.78  446920
6     PalomaPigeonnier    15  171.98  450546
7       Eloise Belvisi    15  191.97  450742
8        Maelys bertel    15  201.61  450554
9              Flavroy    15  216.00  451874
10           Couplaura    15  216.96  400648
11       Chloé Roubert    15  222.02  446964
12         Jubertlouna    15  250.00  448621
13         Elisalatour    15  250.96  450741
14   degermayquitterie    15  253.30  450505
15            ayanahla    13   72.23  447457
16             orlanne    13   77.81  449249
17  camille etcheverry    13  120.66  446690
18          Wu Qinglin    13  132.45  449075
19        Esteves Emma    13  137.46  449339
20        JustineGanne    13  138.97  446746
21   roomane.broucaret    13  149.39  449093
22       Guerbasaldjia    13  151.07  451571
23       calista veral    13  153.63  446664
24          Mateo Lucy    13  154.58  445501
25        maya camacho    13  186.36  449047
26      roxane.pascaud    13  189.41  448131
27    Ridley Mortensen    13  208.27  433462
28     Cubizolles Noah    13  208.77  435763
29     Marine Michenot    13  222.37  450735
..                 ...   ...     ...     ...
38      juliasalistean    12   92.60  446791
39    gabrelle sartori    12  108.87  449461
40        Cléo Mailles    12  114.91  447289
41     malorie debaire    12  125.40  451638
42       Manon cerveau    12  131.61  445098
43    EL HALOUI Maïssa    12  143.77  446773
44         Alex.verdel    12  160.72  447703
45            joy.lscr    12  163.04  447655
46       DUBARRE Anaïs    12  178.00  447632
47    morgane.reimherr    12  180.32  447019
48    Justine Fouillet    12  183.85  446740
49      Amélie Lauilhé    12  197.10  448793
50       Clément.Augez    12  201.76  445328
51       Nadâ Sissaoui    12  205.15  438481
52   kathleen perretin    12  218.87  451148
53      Karin HIRAYAMA    12  222.40  444338
54   El Majdoub Hicham    12  235.54  447697
55      jade.aventurin    12  252.27  451963
56           Lola Puyo     8    0.00  441166
57    romane.broucaret     8    0.00  449093
58             Lou.hyd     8    0.00  448277
59      lola marcoulet    10   60.47  448247
60       Choquet clara    10   63.19  448189
61        louise.dague    10  128.53  448118
62      Justine.michas    10  175.36  447689
63     lou.thibautremi    10  183.89  450446
64        lola.guillon    10  213.74  449214
65     El mellali chah    10  237.66  445918
66           Apay merv    10  239.44  450285
67   Andria.Heriniaina    10  244.67  448262

[68 rows x 4 columns]

In [120]:
dfNotes=df123.groupby("id").max().sort_values("note",ascending=False)
dfNotes.to_csv(fNotes,sep="\t",encoding="utf8")

In [121]:
dfNotes

                               pseudo  note   temps
id
446480              Desmouliès Eloane    20  208.29
416094                      Bel elena    18  248.96
447541                    noemlatorre    17  255.65
451874                        Flavroy    15  216.00
450554                  Maelys bertel    15  201.61
448621                    Jubertlouna    15  250.00
446964                  Chloé Roubert    15  222.02
446920              Bouffenie marylou    15  171.78
450505              degermayquitterie    15  253.30
450546               PalomaPigeonnier    15  171.98
446682                  Noémie Nelson    15  138.57
450741                    Elisalatour    15  250.96
450742                 Eloise Belvisi    15  191.97
438682                      Anaé Lamy    15  115.31
400648                      Couplaura    15  216.96
450735                Marine Michenot    13  222.37
448131                 roxane.pascaud    13  189.41
451571                  Guerbasaldjia    13  151.07
450388                  Romane Lebeau    13  254.06
449339                   Esteves Emma    13  137.46
449249                        orlanne    13   77.81
449093              roomane.broucaret    13  149.39
449075                     Wu Qinglin    13  132.45
450937                   Maxime buret    13  246.39
449047                   maya camacho    13  186.36
449046                   Qinyan Zhang    13  257.88
451358                     anneso.jct    13  222.44
447962  Maelys Rodriguez-Perez--Hervé    13  245.59
446746                   JustineGanne    13  138.97
445501                     Mateo Lucy    13  154.58
...                               ...   ...     ...
447655                       joy.lscr    12  163.04
445328                  Clément.Augez    12  201.76
446773               EL HALOUI Maïssa    12  143.77
444338                 Karin HIRAYAMA    12  222.40
451148              kathleen perretin    12  218.87
438481                  Nadâ Sissaoui    12  205.15
451638                malorie debaire    12  125.40
445098                  Manon cerveau    12  131.61
451963                 jade.aventurin    12  252.27
446791                 juliasalistean    12   92.60
447632                  DUBARRE Anaïs    12  178.00
447019               morgane.reimherr    12  180.32
447289                   Cléo Mailles    12  114.91
448793                 Amélie Lauilhé    12  197.10
447697              El Majdoub Hicham    12  235.54
447703                    Alex.verdel    12  160.72
447738                Lucie gourmanel    12   88.06
402804              Camilla Sulejmani    12   65.94
447984             Michel Fleuranceau    12   69.29
448118                   louise.dague    10  128.53
448247                 lola marcoulet    10   60.47
448189                  Choquet clara    10   63.19
447689                 Justine.michas    10  175.36
445918                El mellali chah    10  237.66
448262              Andria.Heriniaina    10  244.67
450446                lou.thibautremi    10  183.89
450285                      Apay merv    10  239.44
449214                   lola.guillon    10  213.74
441166                      Lola Puyo     8    0.00
448277                        Lou.hyd     8    0.00

[67 rows x 3 columns]