In [13]:
import codecs,unidecode,yaml,glob,os,shutil,re
import itertools as it
import numpy as np
import pandas as pd
print(pd.__version__)

0.24.2

In [34]:
nQuizz=5
fMajeure=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Majeure.csv"
fMineure=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Mineure.csv"
fCM=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/CM.csv"
fAliasQDLE=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-Alias.yaml"
fQuizzoodle=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz%02d.csv"%nQuizz
fNotes=fQuizzoodle.replace(u".csv",u"-Notes.csv")

In [27]:
'''https://stackoverflow.com/a/35491326/3986209'''
def invert_dict(d): 
    inverse = dict() 
    for key in d: 
        # Go through the list that is saved in the dict:
        for item in d[key]:
            # Check if in the inverted dict the key exists
            if item not in inverse: 
                # If not create a new list
                inverse[item] = [key] 
            else: 
                inverse[item].append(key) 
    return inverse

# Lecture des donn√©es

In [28]:
try:
    with codecs.open(fAliasQDLE, 'r', encoding="utf8") as inFile:
        correspondances=yaml.safe_load(inFile)
    alias=correspondances["alias2etu"]
except:
    alias={}
alias

{'APPADOO et VICENTINI': ['412653', '415269'],
 'Aaron Dieu': ['413093'],
 'Abigail raguraj': ['397598'],
 'Afonso Peleja': ['415773'],
 'Agathe Corbier': ['398357'],
 'Agleizes001': ['412341'],
 'Aiden Bertin': ['415098'],
 'Alexis peyen': ['414807'],
 'Alice Dupouy': ['400421'],
 'Alicia PARISET': ['397359'],
 'Alicia PARISET Axel Hennebert': ['397359', '414202'],
 u'Aliz\xe9e Artaud': ['415398'],
 'Amblard Juline': ['415539'],
 'Ambre Sovieri': ['402017'],
 'Amelie Martin': ['398003'],
 'Amine elhaloui': ['415818'],
 u'Am\xe9lie Martin': ['398003'],
 'Anais Bernou': ['413687'],
 u'Ana\xefs AURIAULT': ['418584'],
 u'Ana\xefs Bernou': ['413687'],
 'Angele': ['417705'],
 'Anne-Emmanuelle': ['421063'],
 'Appadoo et Vicentini': ['415269', '412653'],
 'Aude-Lise': ['398735'],
 'Aude-Lise Ledentu': ['398735'],
 'Aure girard': ['414227'],
 'Aurel@700': ['416671'],
 'Aurelm7000': ['416671'],
 'Axel Hennebert': ['414202'],
 u'BARNOLE Myl\xe9nie': ['413653'],
 'BENZONI Enzo': ['414854'],
 'BOTROS': ['404379'],
 'Banaszak': ['416541'],
 'Banizette shirley': ['416087'],
 'Baptistebakri': ['413439'],
 'Barnole Mylenie': ['413653'],
 'Bastien Aroztegui': ['417876'],
 'Bennadjema': ['396567'],
 'Bonvarlet': ['416527'],
 'Bonvarlet/ Papadacci': ['416527', '413048'],
 'Boutelet Lilly': ['387089'],
 'Breuils Mathilde': ['415694'],
 u'CHAMPERNAU_L\xe9andre': ['323999'],
 'COTENTIN Amandine': ['414180'],
 'Camille Alvarez': ['418829'],
 'Camille v': ['412887'],
 'Carla Vicentini': ['415269'],
 'Carla-Marie BARTOLOMUCCI': ['416713'],
 'Casanova Thomas': ['413481'],
 'Cassy': ['397207'],
 u'Castello-- Iturria Na\xefa': ['415449'],
 'Cazenave Laura': ['415613'],
 'Chambaud': ['417705'],
 'Charlotte': ['415747'],
 'Charlynelecar': ['414055'],
 'Chrystal': ['414222'],
 'Claire & Baptiste': ['413439'],
 'Claire vergnes': ['413133'],
 'Clara General': ['403239'],
 u'Clo\xe9 Di Sotto': ['413510'],
 u'Clo\xe9 DiSotto': ['413510'],
 u'Cl\xe9mence Labbe': ['413822'],
 'Coline Camille Saint-Avit': ['415962'],
 'Coline Labat': ['414705'],
 'Colinegoursaud': ['413501'],
 'Colinegoursaud21': ['413501'],
 'Colline Cherel': ['411946'],
 'Corentin MORTIER': ['416867'],
 'Cotentin Amandine': ['414180'],
 'Cyrielle Tavera': ['417982'],
 'DA CUNHA Mathilde': ['415439'],
 'Damien Guerrero': ['405648'],
 'Daria': ['419530'],
 'De Sousa Rodrigues Pedro': ['397324'],
 'Delage et Panechou': ['415223', '413009'],
 'Delage et Saint-Joanis': ['415223', '398903'],
 'Denisa': ['420093'],
 u'Depluche Le\xefla': ['412746'],
 'Descamp Steve': ['416926'],
 'Deysse': ['418797'],
 'Dos Santos carla': ['417682'],
 'Dos santos carla': ['417682'],
 'Doussan Eva': ['416247'],
 'Dupouy Manon': ['416062'],
 'Duthilleul Chrystal': ['414222'],
 'Dylan GABORIAU': ['411880'],
 'Edouard et Campanerutto': ['413643', '417531'],
 'Eleanor': ['418398'],
 'Elhaloui amine': ['415818'],
 'Eliane m': ['413748'],
 'Elisa J': ['414416'],
 'Elisa joly': ['414416'],
 'Elisa mel': ['418155'],
 'Elliot (Lena) SAINT JOANIS': ['398903'],
 'Elsa PICARD': ['414527'],
 'Emeline': ['396761'],
 'Emeline E': ['396761'],
 'Emi Altava': ['335539'],
 'Emma Gozillon': ['414454'],
 'Emma galiana': ['398743'],
 'Enji ghirardelli': ['413128'],
 'Esteban BENTO': ['415618'],
 'FIGUEIREDO-RAMOS': ['413895'],
 'FIGUEIREDO-RAMOS-ENFI-BELIAL': ['413895'],
 'FLEURANCEAU Sarah': ['418543'],
 'Falc-Arnould Yagoub': ['414345', '415533'],
 'Fanny albanel': ['416758'],
 u'Ferrand Tha\xefs': ['415136'],
 u'Foudi ma\xefra': ['418467'],
 'GATIEN, PONTHIER': ['417456', '412228'],
 'GRAVELAT CHLOE': ['413916'],
 'GUILLEMBET WILLIAM-JUNIOR': ['419041'],
 'GUINAT': ['414017'],
 'Gabrielle': ['420584'],
 'Galerneau': ['416842'],
 'General Clara': ['403239'],
 'Goundoba, riziki': ['402539', '415258'],
 'Hannah': ['419663'],
 'Hderiaz001': ['417143'],
 'Heiura Wong': ['413487'],
 'Hinger laura': ['414210'],
 'Hoffmann Justine': ['413002'],
 'Hope et Lucie': ['419120'],
 'Hugo Gendron': ['415691'],
 'Imanol Cartier': ['416148'],
 'Imanol cartier': ['416148'],
 u'In\xe8s': ['416125'],
 u'In\xe8s.p': ['415808'],
 'Irati': ['415149'],
 'Irati Urreizti': ['415149'],
 'Isasti Ludivine': ['416085'],
 'Jade Hazera': ['414101'],
 'Jayson faucheux': ['400000'],
 'Jeanne Grand-Jean': ['417730'],
 'Jgonzalez': ['414967'],
 'Joana Marques': ['415143'],
 u'Joana Marques et L\xe9os Giret': ['415143', '413211'],
 'Joana Marques et Marine Orset': ['415143', '413202'],
 'Jocelyn mbilima': ['416328'],
 'JosephAtkin': ['416596'],
 'Jouanmiqueou Emma': ['414283'],
 'Joye Masson': ['413201'],
 'Julia gonzalez': ['414967'],
 'Julie-Marie': ['401388'],
 'Julie-Marie Berlon': ['401388'],
 'Juliette Roussel': ['417822'],
 'Justine Alphonsine': ['397859'],
 'Justine Andrieux': ['416801'],
 'Justine Andrieuxx': ['416801'],
 'Justine Lavaud': ['416038'],
 u'J\xe9riel': ['419152'],
 'KaeliaGirol': ['351536'],
 'Karine Barsacq': ['416502'],
 'Kellian': ['406806'],
 'Khysanth Laporte': ['417392'],
 'Killian Adrover': ['415014'],
 'Kimberley Boquillon': ['411934'],
 'Kirkorian': ['418372'],
 u'Kl\xe9lia ANTOINETTE': ['412072'],
 'Kolar': ['416026'],
 'Kristina': ['419651'],
 'LEBLAIN': ['415886'],
 'Ladji Saidou Doumbia': ['411994'],
 'Ladji saidou Doumbia': ['411994'],
 'Lajus Kali': ['413269'],
 u'Lamarque No\xe9mie': ['416090'],
 u'Lamouroux Chlo\xe9': ['412398'],
 'Laura Bagnolini': ['402514'],
 'Laura EDOUARD': ['413643'],
 'Laura hinger': ['414210'],
 'Laure Garnaud': ['414877'],
 'Laurine Marrel': ['414603'],
 'Lavialle Marie': ['412991'],
 'Le car - aguirre': ['414055'],
 'Lehobey': ['401449'],
 'Lehobey, lachehab gros': ['401449', '416438'],
 'Lehobey, lachehab gros,': ['401449', '416438'],
 'Lenny mussard-benabdelkader': ['412931'],
 'Lilly Boutelet': ['387089'],
 'Lilou Samson': ['413833'],
 'Lilou Samson et JiancHao Wang': ['413833', '414000'],
 'Lilou Samson et Juliette Autor': ['413833', '415791'],
 'Lilou Sancho': ['414464'],
 'Lisa Villepontoux': ['414030'],
 'LisaB': ['415598'],
 'Loann Pailhes': ['411916'],
 'Loann Pailhes et Marine Orset': ['411916', '413202'],
 'Logan': ['418489'],
 'Lolli Natasha': ['412227'],
 'Loona Dieu': ['413093'],
 'Loquet Mathilde': ['415368'],
 'Loste lou-anne': ['413966'],
 'Lou Anne Lhermitte': ['416530'],
 'Lou Falc-Arnould': ['414345'],
 'Louann': ['412308'],
 'Louann Hours': ['412308'],
 u'Lo\xefse Hollaender Adrien Delluc': ['414434', '415209'],
 'Lucas Muguruza': ['403161'],
 'Lucia CAMPANERUTTO': ['417531'],
 'Lucile': ['413321'],
 'Lucy': ['419573'],
 'Ludovic Leconte': ['384868'],
 u'L\xe9a Caumes': ['412372'],
 u'L\xe9a Hardouin': ['413012'],
 u'L\xe9a Maniaci': ['415356'],
 u'L\xe9a Maniaci1': ['415356'],
 u'L\xe9a M\xe9mon': ['416406'],
 u'L\xe9a Sainpaul': ['413553'],
 u'L\xe9na Favre': ['416564'],
 u'L\xe9onie': ['412772'],
 u'L\xe9onie Turb\xe9': ['412772'],
 u'L\xe9os Giret': ['413211'],
 'MARCELLIN Hugo': ['399179'],
 'MARTY Louise': ['418883'],
 'Mailley Melissa Marie': ['416955'],
 'Malik Lachehab Gros': ['416438'],
 'Margaux Morin': ['414077'],
 'Marie Lavialle': ['412991'],
 'Marine Orset': ['413202'],
 'Mathilde Paulet': ['413961'],
 'Mathilde Pon': ['380572'],
 'Matias neyrinck': ['417559'],
 u'Matt\xe9o Coutou': ['414878'],
 u'Mat\xe9o Natario': ['413925'],
 'Maxine Martineau': ['413026'],
 u'Ma\xebline': ['417965'],
 u'Ma\xeblle Duran': ['399338'],
 u'Ma\xeflysse Robarraud': ['416203'],
 'Meunier Theo': ['414747'],
 u'Meyrignac-Platon Cl\xe9lia': ['408800'],
 'Michaux Flore': ['412314'],
 'Morin Margaux': ['414077'],
 'Morvan Camille': ['413395'],
 u'M\xe9linka': ['403569'],
 'Nawell Bachani': ['414683'],
 'Nawell Bachani 2': ['414683'],
 'Neugebauer Yohan': ['414060'],
 'Ninon Renou': ['416705'],
 'Nkoghe': ['416004'],
 u'N\xe9mati': ['413350'],
 'OYE NTOUTOUME Reve': ['408717'],
 u'Oc\xe9ane Hondagneu Td10': ['415920'],
 'Orlane Galland': ['416381'],
 'PAILLASSA Sofia': ['412891'],
 'PEGORER Emma': ['416129'],
 'PONTHIER, GATIEN, URREIZTI': ['412228', '417456', '415149'],
 'PONTHIER, LOVELACE': ['403643', '412228'],
 'Panechou Priscilla': ['413009'],
 'Papadacci/Morin': ['413048', '414077'],
 'Pardo Emma': ['413735'],
 'Parent Justine': ['416906'],
 'Paul B': ['414024'],
 'Paul bnf': ['414024'],
 'Pauline Sorel': ['412484'],
 u'Pelus Chlo\xe9': ['413571'],
 'Pierre-Marie bitot': ['418113'],
 u'Piveteau Oc\xe9ane': ['412145'],
 'Raffin Loanne': ['415516'],
 u'Rapha\xebl Thiollier': ['415521'],
 'Rio Emma': ['413268'],
 'Roncato Marine': ['418724'],
 'Roucou Lena': ['417786'],
 'Roucou Lena, Loste Lou-Anne': ['417786', '413966'],
 'Ruby Roussel': ['417822'],
 u'R\xe9mi Tronel': ['415701'],
 'S. Denoyelle': ['413073'],
 'SOATTO Tania': ['414952'],
 'SOATTO Tania - MARONGIN Sophie': ['405421', '414952'],
 'SUZIE BLEMER': ['402638'],
 'Sandy Bigey': ['415860'],
 'Serena': ['415714'],
 'Shirley': ['416087'],
 'Sihame Fappani': ['415099'],
 'Simon SAINTARAILLES': ['413050'],
 'Simon et Jeanne': ['413050'],
 'Sombre Denoyelle': ['413073'],
 'Sovieri Ambre': ['402017'],
 u'S\xf6ren': ['412396'],
 u'S\xf6ren Benazet': ['412396'],
 u'TAPSOBA M\xe9lika': ['418310'],
 u'Tejerizo La\xefs et Honore Emmy': ['414261', '401188'],
 'Thomas Casanova': ['413481'],
 u'Th\xe9o Forestier': ['414539'],
 u'Th\xe9o Joffre': ['415169'],
 'Tia Maeva Vespuce Michel': ['416851'],
 u'Titouan Bouch\xe9': ['419051'],
 'Tom dablemont': ['415077'],
 'VILLAGEOIS ANNE EMMANUELLE': ['421063'],
 'VILLAGEOIS ANNE-EMMANUELLE': ['421063'],
 'Vadim Olivan': ['414257'],
 'Vergnes claire': ['413133'],
 'Vicentini et Appadoo': ['415269', '412653'],
 'Virion lorick': ['369443'],
 'Waeghemacker': ['401460'],
 'Wang JiangHao': ['414000'],
 'Wang JiangHao Atkin Joseph': ['414000', '416596'],
 'WangJiangHao': ['414000'],
 'Weina Zado': ['412906'],
 'Wendy et Priscilla': ['415223', '413009'],
 'William': ['419041'],
 'Y.auger': ['415389'],
 'YARDIN-APPADOO Gwenaelle': ['412653'],
 u'Yagoub--Beaus\xe9jour': ['415533'],
 u'Yagoub--Beaus\xe9jour Ma\xeblle': ['415533'],
 'Yardin-Appado': ['412653'],
 'Yardin-Appadoo Gwenaelle': ['412653'],
 u'Zo\xe9 Samson': ['396936'],
 'abarriere004': ['402714'],
 'alarroque005': ['417920'],
 u'ana\xefs zappino': ['413303'],
 'andrea mautre cassandre deneka': ['413543', '400271'],
 'bayart': ['413397'],
 'ebismes': ['413429'],
 'ebismes csaintavit001': ['413429', '415962'],
 'ebismes001': ['413429'],
 'ebismes001 et csaintavi001': ['413429', '415962'],
 'eepaud002 jaguilar003': ['417623', '414403'],
 'egary002': ['415194'],
 'eleana': ['414688'],
 'elisa ferreira': ['417890'],
 'emma.lilli': ['414146'],
 'emmalilli': ['414146'],
 'epetit009': ['412189'],
 'esimonell001': ['413159'],
 'esteban bento': ['415618'],
 'evajosephine': ['412425'],
 'hannah': ['419663'],
 'jchinarro001': ['323516'],
 'jnais001': ['417410'],
 'june': ['416415'],
 'lchampern': ['323999'],
 'lchampern001': ['323999'],
 'lenny valmy': ['414714'],
 'lnaves001': ['415893'],
 u'l\xe9na martins': ['412885'],
 'm.cantin': ['416125'],
 'm.cantin001': ['416125'],
 'mariam fath': ['416862'],
 u'mar\xe9va durqu\xe9ty': ['418392'],
 u'mar\xe9va durqu\xe9ty / hazera manon': ['418392', '414076'],
 'mathis melendez': ['414896'],
 'mathis melendez 2': ['414896'],
 'mcantin': ['416125'],
 'mcantin001': ['416125'],
 'mdupont015': ['414742'],
 'melendez barnole': ['414896', '413653'],
 'melendez mathis': ['414896'],
 'mila': ['416157'],
 'mmelendez003': ['414896'],
 u'm\xe9line': ['414203'],
 'nchahirou001': ['417479'],
 'nrenou001': ['416705'],
 'odavid002': ['416347'],
 'ohiana Fougeray': ['416012'],
 'oriane.szwertak': ['418797'],
 'paulineguinle': ['397050'],
 'psene003': ['413716'],
 'rose mayor': ['413529'],
 'scherlinger amandine': ['416365'],
 'sdenoyell001': ['413073'],
 'shirley': ['416087'],
 'sofia paillassa': ['412891'],
 'szwertak': ['418797'],
 u'tia-ma\xe9va.vespuce--michel': ['416851'],
 'tia.vespuce- clelia.meyrignac': ['408800', '416851'],
 'tostain jade': ['385552']}

In [5]:
len(alias)

366

In [35]:
colCM=[u"id",u"nom",u"pr√©nom",u"email",u"ine"]
colQuizz=["pseudo","points","temps"]

try:
    dfCM=pd.read_csv(filepath_or_buffer=fCM,sep="\t",encoding="utf8",header=0,names=colCM)
    lQuizz=pd.read_csv(filepath_or_buffer=fQuizzoodle,sep=";",encoding="utf8",header=0,names=colQuizz)
    lQuizz.pseudo=lQuizz.pseudo.str.strip()
except:
    dfCM=None
    lQuizz=None

In [36]:
lQuizz

                             pseudo  points   temps
0                               VSR       7   43.54
1                              Th√©o       7   44.28
2                      Alexis peyen       7   63.60
3                 DA CUNHA Mathilde       7  129.81
4                    Nawell Bachani       7  133.47
5                   Piveteau Oc√©ane       7  160.27
6                  Maxine Martineau       7  164.66
7                     Amelie Martin       7  167.87
8                           Y.auger       7  168.33
9                         Justine A       7  191.11
10                   Colline Cherel       6   60.69
11                     Meunier Theo       6   64.29
12                  Carla Vicentini       6   71.91
13                Lisa Villepontoux       6   81.32
14                             jane       6   81.64
15                     SOATTO Tania       6   83.84
16                      R√©mi Tronel       6   87.94
17                           Mathis       6   90.54
18                FLEURANCEAU Sarah       6  100.42
19                   Axel Hennebert       6  103.16
20                Cotentin Amandine       6  108.27
21                Kl√©lia ANTOINETTE       6  113.10
22                     L√©onie Turb√©       6  125.73
23                     PEGORER Emma       6  135.88
24                   TAPSOBA M√©lika       6  136.65
25                 Sombre Denoyelle       6  137.35
26            Mailley Melissa Marie       6  140.90
27                          Kellian       6  141.61
28                 Neugebauer Yohan       6  142.67
29                           Emma L       6  144.41
..                              ...     ...     ...
147                   Emma Gozillon       2  122.99
148                        camilleS       2  125.87
149  Lo√Øse Hollaender Adrien Delluc       2  128.35
150                          Serena       2  138.99
151                        Banaszak       2  143.53
152                  Parent Justine       2  144.82
153                  Roncato Marine       2  166.92
154              OYE NTOUTOUME Reve       2  170.16
155                  Lilly Boutelet       1    3.45
156                     mariam fath       1    7.96
157                    L√©a Maniaci1       1   27.09
158                   Laure Garnaud       1   44.30
159                             Ece       1   82.34
160                  Julia gonzalez       1   91.77
161                Corentin MORTIER       1   97.89
162                          N√©mati       1  129.62
163                        psene003       1  151.71
164                  Depluche Le√Øla       0    0.00
165                             Eva       0    0.00
166                           Kolar       0    0.00
167                           Irati       0    0.00
168                     L√©a Maniaci       0    0.00
169                   Wang JiangHao       0    0.00
170                     m.cantin001       0    0.00
171                  Yardin-Appadoo       0    0.00
172                  Irati Urreizti       0    0.00
173                      rose mayor       0    1.85
174                Juliette Roussel       0    3.13
175                Breuils Mathilde       0    4.04
176                   Baptistebakri       0  117.13

[177 rows x 3 columns]

# Listage des alias

In [ ]:
dfCM["PN"]=dfCM[u"pr√©nom"].str.lower().str.strip()+" "+dfCM[u"nom"].str.lower().str.strip()
dfCM["NP"]=dfCM[u"nom"].str.lower().str.strip()+" "+dfCM[u"pr√©nom"].str.lower().str.strip()
dfCM

In [ ]:
pseudos=lQuizz[~(lQuizz["pseudo"].isin(alias))]["pseudo"].str.strip().tolist()

i=39
for nP,pseudo in enumerate(pseudos[i:i+1]):
    print pseudo
    sPseudo = raw_input("Nom a chercher:\n")
    print dfCM[dfCM["PN"].str.contains(sPseudo)][["PN","id"]]

In [ ]:
print pseudo
alias[pseudo]=["416125"]

In [ ]:
len(pseudos)

In [30]:
alias["Sofiane"]

KeyError: 'Sofiane'

In [ ]:
pn=dfCM["PN"].tolist()
np=dfCM["NP"].tolist()

# "damien guerrero" in pn

In [ ]:
for pseudo in pseudos:
    if unidecode.unidecode(pseudo.lower()) in pn:
        print pseudo,dfCM[dfCM["PN"]==unidecode.unidecode(pseudo.lower())]["id"].values[0]
        alias[pseudo]=[str(dfCM[dfCM["PN"]==unidecode.unidecode(pseudo.lower())]["id"].values[0])]
    elif unidecode.unidecode(pseudo.lower()) in np:
        print pseudo,dfCM[dfCM["NP"]==unidecode.unidecode(pseudo.lower())]["id"].values[0]
        alias[pseudo]=[str(dfCM[dfCM["NP"]==unidecode.unidecode(pseudo.lower())]["id"].values[0])]

In [ ]:
for al in alias:
    if not isinstance(alias[al],list):
        alias[al]=[alias[al]]

In [ ]:
len(alias)

In [ ]:
invAlias=invert_dict(alias)
#invAlias[385732]=[u'adiarra001, cbeauvais004']
correspondances={"alias2etu":alias,"etu2alias":invAlias}
correspondances

In [ ]:
with codecs.open(fAliasQDLE, 'w', encoding="utf8") as outfile:
    yaml.safe_dump(correspondances, outfile, default_flow_style=False)

# Calcul des notes

In [7]:
nbQ=7.0

In [8]:
def aliasQuizz(pseudo):
    result=None
    if pseudo in alias:
        result=alias[pseudo]
    return result

def noteQuizz(points):   
    result=8
    if points>0:
        result=int(round(10*(1+points/nbQ),0))
    return result
        
        

lQuizz["id"]=lQuizz["pseudo"].apply(aliasQuizz)
lQuizz["note"]=lQuizz["points"].apply(noteQuizz)

In [9]:
def splitPseudo1(id):
    result=None
    if id and len(id)>0:
        result=id[0]
    return result

def splitPseudo2(id):
    result=None
    if id and len(id)>1:
        result=id[1]
    return result

def splitPseudo3(id):
    result=None
    if id and len(id)>2:
        result=id[2]
    return result

lQuizz["id1"]=lQuizz["id"].apply(splitPseudo1)
lQuizz["id2"]=lQuizz["id"].apply(splitPseudo2)
lQuizz["id3"]=lQuizz["id"].apply(splitPseudo3)

lQuizz

,pseudo,points,temps,id,note,id1,id2,id3
0,Th√©o,7,44.28,None,20,None,None,None
1,Alexis peyen,7,63.60,[414807],20,414807,None,None
2,DA CUNHA Mathilde,7,129.81,[415439],20,415439,None,None
3,Nawell Bachani,7,133.47,[414683],20,414683,None,None
4,Piveteau Oc√©ane,7,160.27,[412145],20,412145,None,None
5,Maxine Martineau,7,164.66,[413026],20,413026,None,None
6,Amelie Martin,7,167.87,[398003],20,398003,None,None
7,Y.auger,7,168.33,[415389],20,415389,None,None
8,Justine A,7,191.11,None,20,None,None,None
9,Colline Cherel,6,60.69,[411946],19,411946,None,None
10,Meunier Theo,6,64.29,[414747],19,414747,None,None
11,Carla Vicentini,6,71.91,[415269],19,415269,None,None
12,Lisa Villepontoux,6,81.32,[414030],19,414030,None,None
13,jane,6,81.64,None,19,None,None,None
14,SOATTO Tania,6,83.84,[414952],19,414952,None,None
15,R√©mi Tronel,6,87.94,[415701],19,415701,None,None
16,Mathis,6,90.54,None,19,None,None,None
17,FLEURANCEAU Sarah,6,100.42,[418543],19,418543,None,None
18,Axel Hennebert,6,103.16,[414202],19,414202,None,None
19,Cotentin Amandine,6,108.27,[414180],19,414180,None,None
20,Kl√©lia ANTOINETTE,6,113.10,[412072],19,412072,None,None
21,L√©onie Turb√©,6,125.73,[412772],19,412772,None,None
22,PEGORER Emma,6,135.88,[416129],19,416129,None,None
23,TAPSOBA M√©lika,6,136.65,[418310],19,418310,None,None
24,Sombre Denoyelle,6,137.35,[413073],19,413073,None,None
25,Mailley Melissa Marie,6,140.90,[416955],19,416955,None,None
26,Kellian,6,141.61,[406806],19,406806,None,None
27,Neugebauer Yohan,6,142.67,[414060],19,414060,None,None
28,Emma L,6,144.41,None,19,None,None,None
29,Carla.D,6,144.49,None,19,None,None,None
...,...,...,...,...,...,...,...,...
146,Emma Gozillon,2,122.99,[414454],13,414454,None,None
147,camilleS,2,125.87,None,13,None,None,None
148,Lo√Øse Hollaender Adrien Delluc,2,128.35,"[414434, 415209]",13,414434,415209,None
149,Serena,2,138.99,[415714],13,415714,None,None
150,Banaszak,2,143.53,[416541],13,416541,None,None
151,Parent Justine,2,144.82,[416906],13,416906,None,None
152,Roncato Marine,2,166.92,[418724],13,418724,None,None
153,OYE NTOUTOUME Reve,2,170.16,[408717],13,408717,None,None
154,Lilly Boutelet,1,3.45,[387089],11,387089,None,None
155,mariam fath,1,7.96,[416862],11,416862,None,None
156,L√©a Maniaci1,1,27.09,[415356],11,415356,None,None
157,Laure Garnaud,1,44.30,[414877],11,414877,None,None
158,Ece,1,82.34,None,11,None,None,None
159,Julia gonzalez,1,91.77,[414967],11,414967,None,None
160,Corentin MORTIER,1,97.89,[416867],11,416867,None,None
161,N√©mati,1,129.62,[413350],11,413350,None,None
162,psene003,1,151.71,[413716],11,413716,None,None
163,Depluche Le√Øla,0,0.00,[412746],8,412746,None,None
164,Eva,0,0.00,None,8,None,None,None
165,Kolar,0,0.00,[416026],8,416026,None,None
166,Irati,0,0.00,[415149],8,415149,None,None
167,L√©a Maniaci,0,0.00,[415356],8,415356,None,None
168,Wang JiangHao,0,0.00,[414000],8,414000,None,None
169,m.cantin001,0,0.00,[416125],8,416125,None,None
170,Yardin-Appadoo,0,0.00,None,8,None,None,None
171,Irati Urreizti,0,0.00,[415149],8,415149,None,None
172,rose mayor,0,1.85,[413529],8,413529,None,None
173,Juliette Roussel,0,3.13,[417822],8,417822,None,None
174,Breuils Mathilde,0,4.04,[415694],8,415694,None,None
175,Baptistebakri,0,117.13,[413439],8,413439,None,None

In [10]:
df1=lQuizz[["pseudo","note","temps","id1"]].dropna()
df2=lQuizz[["pseudo","note","temps","id2"]].dropna()
df3=lQuizz[["pseudo","note","temps","id3"]].dropna()
df1.columns=["pseudo","note","temps","id"]
df2.columns=["pseudo","note","temps","id"]
df3.columns=["pseudo","note","temps","id"]

In [11]:
df123=pd.concat([df1,df2,df3]).sort_values(["note","temps"],ascending=[False,True])
df123

                             pseudo  note   temps      id
1                      Alexis peyen    20   63.60  414807
2                 DA CUNHA Mathilde    20  129.81  415439
3                    Nawell Bachani    20  133.47  414683
4                   Piveteau Oc√©ane    20  160.27  412145
5                  Maxine Martineau    20  164.66  413026
6                     Amelie Martin    20  167.87  398003
7                           Y.auger    20  168.33  415389
9                    Colline Cherel    19   60.69  411946
10                     Meunier Theo    19   64.29  414747
11                  Carla Vicentini    19   71.91  415269
12                Lisa Villepontoux    19   81.32  414030
14                     SOATTO Tania    19   83.84  414952
15                      R√©mi Tronel    19   87.94  415701
17                FLEURANCEAU Sarah    19  100.42  418543
18                   Axel Hennebert    19  103.16  414202
19                Cotentin Amandine    19  108.27  414180
20                Kl√©lia ANTOINETTE    19  113.10  412072
21                     L√©onie Turb√©    19  125.73  412772
22                     PEGORER Emma    19  135.88  416129
23                   TAPSOBA M√©lika    19  136.65  418310
24                 Sombre Denoyelle    19  137.35  413073
25            Mailley Melissa Marie    19  140.90  416955
26                          Kellian    19  141.61  406806
27                 Neugebauer Yohan    19  142.67  414060
30                          shirley    19  147.17  416087
31                  Thomas Casanova    19  159.73  413481
32                    Pauline Sorel    17   53.20  412484
33      Lenny mussard-benabdelkader    17   76.17  412931
34                       Zo√© Samson    17   78.26  396936
35                    Aliz√©e Artaud    17   87.37  415398
..                              ...   ...     ...     ...
142                 mar√©va durqu√©ty    13   79.14  418392
143                         LEBLAIN    13   92.80  415886
144                    nchahirou001    13   98.37  417479
146                   Emma Gozillon    13  122.99  414454
148  Lo√Øse Hollaender Adrien Delluc    13  128.35  414434
148  Lo√Øse Hollaender Adrien Delluc    13  128.35  415209
149                          Serena    13  138.99  415714
150                        Banaszak    13  143.53  416541
151                  Parent Justine    13  144.82  416906
152                  Roncato Marine    13  166.92  418724
153              OYE NTOUTOUME Reve    13  170.16  408717
154                  Lilly Boutelet    11    3.45  387089
155                     mariam fath    11    7.96  416862
156                    L√©a Maniaci1    11   27.09  415356
157                   Laure Garnaud    11   44.30  414877
159                  Julia gonzalez    11   91.77  414967
160                Corentin MORTIER    11   97.89  416867
161                          N√©mati    11  129.62  413350
162                        psene003    11  151.71  413716
163                  Depluche Le√Øla     8    0.00  412746
165                           Kolar     8    0.00  416026
166                           Irati     8    0.00  415149
167                     L√©a Maniaci     8    0.00  415356
168                   Wang JiangHao     8    0.00  414000
169                     m.cantin001     8    0.00  416125
171                  Irati Urreizti     8    0.00  415149
172                      rose mayor     8    1.85  413529
173                Juliette Roussel     8    3.13  417822
174                Breuils Mathilde     8    4.04  415694
175                   Baptistebakri     8  117.13  413439

[143 rows x 4 columns]

In [12]:
df123.groupby("id").max().to_csv("TEMP.CSV",sep="\t",encoding="utf8")