In [1]:
import codecs,unidecode,yaml,glob,os,shutil,re
import itertools as it
import numpy as np
import pandas as pd
# print(pd.__version__)

In [2]:
sQuizz="06"
nQuizz=int(sQuizz)
fCM=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/CM.csv"
fAliasQDLE=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-Alias.yaml"
fQuizzoodle=u"/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-%s.csv"%sQuizz
# fQuizzoodle=u"/Users/gilles/ownCloud/Cours/Bordeaux/L1-UE4-Morphologie/24-Quizz/Quizz-%s.csv"%sQuizz
fNotes=fQuizzoodle.replace(u".csv",u"-Notes.csv")
print fCM,fQuizzoodle

/Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/CM.csv /Users/gilles/sDrive/Cours/Bordeaux/L1-LinguistiqueGenerale/01-NotesQuizz/Quizz-06.csv

In [3]:
'''https://stackoverflow.com/a/35491326/3986209'''
def invert_dict(d): 
    inverse = dict() 
    for key in d: 
        # Go through the list that is saved in the dict:
        for item in d[key]:
            # Check if in the inverted dict the key exists
            if item not in inverse: 
                # If not create a new list
                inverse[item] = [key] 
            else: 
                inverse[item].append(key) 
    return inverse

# Lecture des données

In [4]:
try:
    with codecs.open(fAliasQDLE, 'r', encoding="utf8") as inFile:
        correspondances=yaml.safe_load(inFile)
    alias=correspondances["alias2etu"]
except:
    alias={}
# alias

In [5]:
len(alias)

142

In [6]:
colCM=[u"id",u"nom",u"prénom",u"email",u"ine"]
colQuizz=["pseudo","points","temps"]

try:
    dfCM=pd.read_csv(fCM,sep="\t",encoding="utf8",header=0,names=colCM)
    lQuizz=pd.read_csv(fQuizzoodle,sep=";",encoding="utf8",header=0,names=colQuizz)
    lQuizz.pseudo=lQuizz.pseudo.str.strip()
except:
    dfCM=None
    lQuizz=None

In [7]:
lQuizz, dfCM

(                           pseudo  points   temps
 0                            Lola       5   93.52
 1                    Liam Mouchon       5  155.29
 2                  Jade.aventurin       5  162.08
 3                 malorie debaire       4   74.06
 4                 romanebroucaret       4   76.96
 5                   manon.garsaud       4  105.06
 6                 Lucie gourmanel       4  131.53
 7               gabrielle sartori       3   78.47
 8                  Justine.michas       3   82.52
 9                      lena_pavie       3   98.02
 10                Marine Michenot       3  100.76
 11                  noemielatorre       3  105.70
 12                    elise cornu       3  105.90
 13             ClémentineLagneaux       3  109.55
 14                  DUBARRE Anaïs       3  131.20
 15              Eloane.Desmouliès       3  131.76
 16                   ANDRIA.HERIN       3  137.60
 17                   Emma Esteves       3  144.06
 18               Ridley Mortensen       3  144.28
 19                  Lebeau Romane       3  151.51
 20                 Jordan Wilshaw       3  155.71
 21                   Qinyan Zhang       3  156.60
 22             Michel Fleuranceau       3  158.06
 23  Maelys Rodriguez-Perez--Hervé       3  160.39
 24                     WU Qinglin       3  186.61
 25                        Combcol       2   51.20
 26                   Sara Le Gall       2   57.11
 27                   maya camacho       2   82.06
 28              bouffenie-marylou       2   86.05
 29                 loanevigouroux       2   93.42
 ..                            ...     ...     ...
 50                 Amélie Lauilhé       2  175.65
 51                  Laura coupama       2  176.83
 52              Mouquet Kimberley       2  184.78
 53                       Joy.lscr       1   42.20
 54             camille etcheverry       1   52.62
 55                     Mateo Lucy       1   56.64
 56                         RomPet       1   67.49
 57                   JustineGanne       1   88.61
 58                Lou.thibautremi       1   94.47
 59                  Clara choquet       1   96.99
 60                   alice alonso       1  101.08
 61                   lola.guillon       1  115.39
 62                   louise.dague       1  131.73
 63                  Noémie Nelson       1  154.79
 64                  Sissaoui Nadâ       1  157.63
 65                Cubizolles Noah       1  157.87
 66                   Cheick GUIRA       1  158.55
 67                    Elisalatour       1  160.77
 68                 Apaydin Mervan       1  161.26
 69                    Lounajubert       1  186.21
 70                Quitteriedegerm       1  186.93
 71              El mellali chahid       1  192.72
 72                     LUGA Chloé       0   21.19
 73                       Montenzo       0   26.24
 74                      emy huber       0   28.19
 75                        FLAVROY       0   32.31
 76                       A.verdel       0  102.40
 77                 juliasalistean       0  132.69
 78               PalomaPigeonnier       0  141.96
 79                           Khad       0  160.05

 [80 rows x 3 columns],          id                     nom          prénom  \
 0    450977  ALONSO LOPEZ-GRAFFEUIL           ALICE
 1    448262       ANDRIAMANALINTSOA      HERINIAINA
 2    450285                 APAYDIN          MERVAN
 3    441237         ATAM-KASSIGADOU           ELIZA
 4    445328                   AUGEZ         CLEMENT
 5    451963               AVENTURIN            JADE
 6    450988        BAPTISTE LAMBERT        REYHNAEL
 7    416094                     BEL      ELENA-ROSE
 8    450742                 BELVISI          ELOISE
 9    450554       BERTEL--BOUSBAINE          MAELYS
 10   451572                 BOUCARD           EMILY
 11   446920               BOUFFENIE         MARYLOU
 12   449093               BROUCARET          ROMANE
 13   450937                   BURET          MAXIME
 14   449047                 CAMACHO            MAYA
 15   451512        CASEIRO MONTEIRO            SARA
 16   447728                CECCALDI        JULIETTE
 17   445098                 CERVEAU           MANON
 18   448035                 CHERAUD           MARIE
 19   448189                 CHOQUET           CLARA
 20   334380                COMBETTE          COLINE
 21   449195                   CORNU           ELISE
 22   400648                 COUPAMA           LAURA
 23   435763              CUBIZOLLES            NOAH
 24   448118          DAGUE--BRANDAO          LOUISE
 25   451454                 DAHMANI         KHADIJA
 26   450565              DE DONCKER            LOLA
 27   450505               DE GERMAY       QUITTERIE
 28   449375       DE LA ROSA CUEVAS     LORENA EMMA
 29   451638                 DEBAIRE         MALORIE
 ..      ...                     ...             ...
 91   450546              PIGEONNIER          PALOMA
 92   451262                  PIOTON             ANA
 93   448381                    PONS          MAXIME
 94   447966                  PORTES            LILY
 95   441166                    PUYO            LOLA
 96   449249       RAMEAU--EL HAYANI         ORLANNE
 97   426755                 RECULET          MARIUS
 98   447019                REIMHERR         MORGANE
 99   450773                    REMY          JAEDEN
 100  447920         RIMBOEUF--PORTE            OONA
 101  447962  RODRIGUEZ-PEREZ--HERVE          MAELYS
 102  451809                ROIGNANT            PAUL
 103  446964        ROUBERT DIEUAIDE           CHLOE
 104  451874                     ROY           FLAVY
 105  448410               SALIMBENI           YANIS
 106  446791               SALISTEAN           JULIA
 107  449461                 SARTORI       GABRIELLE
 108  438481                SISSAOUI            NADA
 109  402804               SULEJMANI         CAMILLA
 110  450446           THIBAUT--REMI             LOU
 111  443367               TSIFANAVI           LUCIA
 112  450555                  VALADE         PAULINE
 113  446664                   VERAL         CALISTA
 114  447703                  VERDEL          ALEXIA
 115  449233               VIGOUROUX           LOANE
 116  431171                   VINET             LEA
 117  449081                 WILSHAW  JORDAN WILLIAM
 118  449075                      WU         QINGLIN
 119  450686                  YBANEZ          MARINE
 120  449046                   ZHANG          QINYAN

                                                  email         ine
 0    alice.alonso-lopez-graffeuil@etu.u-bordeaux-mo...  1729585480
 1    heriniaina.andriamanalintsoa@etu.u-bordeaux-mo...  1729585480
 2           mervan.apaydin@etu.u-bordeaux-montaigne.fr  1729585480
 3    eliza.atam-kassigadou@etu.u-bordeaux-montaigne.fr  1729585480
 4            clement.augez@etu.u-bordeaux-montaigne.fr  1729585480
 5           jade.aventurin@etu.u-bordeaux-montaigne.fr  1729585480
 6    reyhnael.baptiste-lambert@etu.u-bordeaux-monta...  1729585480
 7           elena-rose.bel@etu.u-bordeaux-montaigne.fr  1729585480
 8           eloise.belvisi@etu.u-bordeaux-montaigne.fr  1729585480
 9    maelys.bertel--bousbaine@etu.u-bordeaux-montai...  1729585480
 10           emily.boucard@etu.u-bordeaux-montaigne.fr  1729585480
 11       marylou.bouffenie@etu.u-bordeaux-montaigne.fr  1729585480
 12        romane.broucaret@etu.u-bordeaux-montaigne.fr  1729585480
 13            maxime.buret@etu.u-bordeaux-montaigne.fr  1729585480
 14            maya.camacho@etu.u-bordeaux-montaigne.fr  1729585480
 15   sara.caseiro-monteiro@etu.u-bordeaux-montaigne.fr  1729585480
 16       juliette.ceccaldi@etu.u-bordeaux-montaigne.fr  1729585480
 17           manon.cerveau@etu.u-bordeaux-montaigne.fr  1729585480
 18           marie.cheraud@etu.u-bordeaux-montaigne.fr  1729585480
 19           clara.choquet@etu.u-bordeaux-montaigne.fr  1729585480
 20         coline.combette@etu.u-bordeaux-montaigne.fr  1729585480
 21             elise.cornu@etu.u-bordeaux-montaigne.fr  1729585480
 22           laura.coupama@etu.u-bordeaux-montaigne.fr  1729585480
 23         noah.cubizolles@etu.u-bordeaux-montaigne.fr  1729585480
 24   louise.dague--brandao@etu.u-bordeaux-montaigne.fr  1729585480
 25         khadija.dahmani@etu.u-bordeaux-montaigne.fr  1729585480
 26         lola.de-doncker@etu.u-bordeaux-montaigne.fr  1729585480
 27     quitterie.de-germay@etu.u-bordeaux-montaigne.fr  1729585480
 28   lorena-emma.de-la-rosa-cuevas@etu.u-bordeaux-m...  1729585480
 29         malorie.debaire@etu.u-bordeaux-montaigne.fr  1729585480
 ..                                                 ...         ...
 91       paloma.pigeonnier@etu.u-bordeaux-montaigne.fr  1729585480
 92              ana.pioton@etu.u-bordeaux-montaigne.fr  1729585480
 93             maxime.pons@etu.u-bordeaux-montaigne.fr  1729585480
 94             lily.portes@etu.u-bordeaux-montaigne.fr  1729585480
 95               lola.puyo@etu.u-bordeaux-montaigne.fr  1729585480
 96   orlanne.rameau--el-hayani@etu.u-bordeaux-monta...  1729585480
 97          marius.reculet@etu.u-bordeaux-montaigne.fr  1729585480
 98        morgane.reimherr@etu.u-bordeaux-montaigne.fr  1729585480
 99             jaeden.remy@etu.u-bordeaux-montaigne.fr  1729585480
 100   oona.rimboeuf--porte@etu.u-bordeaux-montaigne.fr  1729585480
 101  maelys.rodriguez-perez--herve@etu.u-bordeaux-m...  1729585480
 102          paul.roignant@etu.u-bordeaux-montaigne.fr  1729585480
 103  chloe.roubert-dieuaide@etu.u-bordeaux-montaign...  1729585480
 104              flavy.roy@etu.u-bordeaux-montaigne.fr  1729585480
 105        yanis.salimbeni@etu.u-bordeaux-montaigne.fr  1729585480
 106        julia.salistean@etu.u-bordeaux-montaigne.fr  1729585480
 107      gabrielle.sartori@etu.u-bordeaux-montaigne.fr  1729585480
 108          nada.sissaoui@etu.u-bordeaux-montaigne.fr  1729585480
 109      camilla.sulejmani@etu.u-bordeaux-montaigne.fr  1729585480
 110      lou.thibaut--remi@etu.u-bordeaux-montaigne.fr  1729585480
 111        lucia.tsifanavi@etu.u-bordeaux-montaigne.fr  1729585480
 112        pauline.valade2@etu.u-bordeaux-montaigne.fr  1729585480
 113          calista.veral@etu.u-bordeaux-montaigne.fr  1729585480
 114          alexia.verdel@etu.u-bordeaux-montaigne.fr  1729585480
 115        loane.vigouroux@etu.u-bordeaux-montaigne.fr  1729585480
 116              lea.vinet@etu.u-bordeaux-montaigne.fr  1729585480
 117  jordan-william.wilshaw@etu.u-bordeaux-montaign...  1729585480
 118             qinglin.wu@etu.u-bordeaux-montaigne.fr  1729585480
 119          marine.ybanez@etu.u-bordeaux-montaigne.fr  1729585480
 120           qinyan.zhang@etu.u-bordeaux-montaigne.fr  1729585480

 [121 rows x 5 columns])

In [8]:
pseudos=lQuizz[~(lQuizz["pseudo"].isin(alias))]["pseudo"].str.strip().tolist()
print "\n".join(pseudos)

Lola
Qinyan Zhang
Combcol
Alix Lonlas
Guerb aldjia
Anaé
Mouquet Kimberley
alice alonso
FLAVROY
Khad

# Listage des alias

In [9]:
dfCM["PN"]=dfCM[u"prénom"].str.lower().str.strip()+" "+dfCM[u"nom"].str.lower().str.strip()
dfCM["NP"]=dfCM[u"nom"].str.lower().str.strip()+" "+dfCM[u"prénom"].str.lower().str.strip()
dfCM["P-N"]=dfCM[u"prénom"].str.lower().str.strip()+"-"+dfCM[u"nom"].str.lower().str.strip()
dfCM["N-P"]=dfCM[u"nom"].str.lower().str.strip()+"-"+dfCM[u"prénom"].str.lower().str.strip()
dfCM["P.N"]=dfCM[u"prénom"].str.lower().str.strip()+"."+dfCM[u"nom"].str.lower().str.strip()
dfCM["N.P"]=dfCM[u"nom"].str.lower().str.strip()+"."+dfCM[u"prénom"].str.lower().str.strip()
# dfCM

pn=dfCM["PN"].tolist()
p_n=dfCM["P-N"].tolist()
np=dfCM["NP"].tolist()
n_p=dfCM["N-P"].tolist()

In [10]:
pn=dfCM["PN"].tolist()
pnT=dfCM["P-N"].tolist()
pnD=dfCM["P.N"].tolist()
np=dfCM["NP"].tolist()
npT=dfCM["N-P"].tolist()
npD=dfCM["N.P"].tolist()
lNomPrenom={"PN":pn,"P-N":pnT,"P.N":pnD,"NP":np,"N-P":npT,"N.P":npD}

In [11]:
for pseudo in pseudos:
    for nomPrenom in lNomPrenom:
        if unidecode.unidecode(pseudo.lower()) in lNomPrenom[nomPrenom]:
            print pseudo,dfCM[dfCM[nomPrenom]==unidecode.unidecode(pseudo.lower())]["id"].values[0]
            alias[pseudo]=[str(dfCM[dfCM[nomPrenom]==unidecode.unidecode(pseudo.lower())]["id"].values[0])]

Qinyan Zhang 449046
Alix Lonlas 450067
Mouquet Kimberley 448567

In [12]:
pseudos=lQuizz[~(lQuizz["pseudo"].isin(alias))]["pseudo"].str.strip().tolist()
print "\n".join(pseudos)

Lola
Combcol
Guerb aldjia
Anaé
alice alonso
FLAVROY
Khad

In [13]:
for nP,pseudoBrut in enumerate(pseudos):
    pseudo=unidecode.unidecode(pseudoBrut)
    print pseudo
    sPseudo = raw_input("Nom a chercher:\n")
    if sPseudo:
        print dfCM[dfCM["PN"].str.contains(sPseudo.lower())][["PN","id"]]
        idPseudo=raw_input("id :\n")
        if idPseudo:
            alias[pseudoBrut]=idPseudo

Lola

Nom a chercher:

Combcol

Nom a chercher:
 comb

                 PN      id
20  coline combette  334380

id :
 334380

Guerb aldjia

Nom a chercher:
 guerb

                PN      id
46  aldjia guerbas  451571

id :
 451571

Anae

Nom a chercher:
 anae

           PN      id
59  anae lamy  438682

id :
 438682

alice alonso

Nom a chercher:
 alonso

                             PN      id
0  alice alonso lopez-graffeuil  450977

id :
 450977

FLAVROY

Nom a chercher:
 flav

            PN      id
104  flavy roy  451874

id :
 451874

Khad

Nom a chercher:
 khad

                 PN      id
25  khadija dahmani  451454

id :
 451454

for k,v in alias.iteritems():
    print k,v[0][0][0]
    alias[k]=v[0][0][0].split(" ")
alias

In [14]:
# pseudo=u"csaintavi001 ebismes001"
# alias[pseudo]=["415962","413429"]

In [15]:
sPseudo="bisme"
print dfCM[dfCM["PN"].str.contains(sPseudo.lower())][["PN","id"]]

Empty DataFrame
Columns: [PN, id]
Index: []

In [16]:
pseudos

[u'Lola',
 u'Combcol',
 u'Guerb aldjia',
 u'Ana\xe9',
 u'alice alonso',
 u'FLAVROY',
 u'Khad']

In [17]:
# alias["Sofiane"]

In [18]:
for al in alias:
    if not isinstance(alias[al],list):
        if " " in alias[al]:
            alias[al]=alias[al].split(" ")
        else:
            alias[al]=[alias[al]]

In [19]:
len(alias)

151

In [20]:
invAlias=invert_dict(alias)
#invAlias[385732]=[u'adiarra001, cbeauvais004']
correspondances={"alias2etu":alias,"etu2alias":invAlias}
correspondances

{'alias2etu': {'A.verdel': ['447703'],
  'ANDHERIN': ['448262'],
  'ANDRIA.HERIN': ['448262'],
  u'Alix Lonlas': ['450067'],
  u'Am\xe9lie Lauilh\xe9': ['448793'],
  'Ana PIOTON': ['451262'],
  'Ana Pioton': ['451262'],
  u'Ana\xe9': ['438682'],
  u'Ana\xe9 Lamy': ['438682'],
  'Apaydin Mervan': ['450285'],
  'Bel Elena-Rose': ['416094'],
  'Blanche Navarro': ['451482'],
  u'CL\xc9MENT.augez': ['445328'],
  'Camilla Sulejmani': ['402804'],
  'Camille Etcheverry': ['446690'],
  'Charlotte Durocher': ['444843'],
  'Cheick GUIRA': ['451579'],
  'Chlo Roub': ['446964'],
  u'Chlo\xe9 Roubert': ['446964'],
  u'Chlo\xe9 Roubert Dieuaide': ['446964'],
  'Cla cho': ['448189'],
  'Clara Choquet': ['448189'],
  'Clara choquet': ['448189'],
  u'Cl\xe9ment.augez': ['445328'],
  u'Cl\xe9mentineLagneaux': ['413294'],
  u'Cl\xe9o Mailles': ['447289'],
  'ColComb': ['334380'],
  u'Combcol': ['334380'],
  'Comcol': ['334380'],
  'Cubizolles Noah': ['435763'],
  u'DUBARRE Ana\xefs': ['447632'],
  'El mellali chahid': ['445918'],
  'Elisalatour': ['450741'],
  'Elmajdoub hicham': ['447697'],
  u'Eloane.Desmouli\xe8s': ['446480'],
  u'Elo\xefse Belvisi': ['450742'],
  'Emily Boucard': ['451572'],
  'Emma Esteves': ['449339'],
  'Enzo Montalarq': ['452416'],
  u'FLAVROY': ['451874'],
  'Flavy Roy': ['451874'],
  'Gourlay Matis': ['440388'],
  'Gue aldj': ['451571'],
  u'Guerb aldjia': ['451571'],
  'Guerbas aldjia': ['451571'],
  'Guerbasaldjia': ['451571'],
  u'Jade R\xe9my': ['450773'],
  'Jade.aventurin': ['451963'],
  'Jordan Wilshaw': ['449081'],
  'Joy.lscr': ['447655'],
  'Juliette Ceccaldi': ['447728'],
  'Justine.Fouillet': ['446740'],
  'Justine.michas': ['447689'],
  'JustineGanne': ['446746'],
  'Karin HIRAYAMA': ['444338'],
  'Katy Malcolm': ['450338'],
  u'Khad': ['451454'],
  'Khadija Dahmani': ['451454'],
  u'LUGA Chlo\xe9': ['445324'],
  u'LUGAChlo\xe9': ['445324'],
  'Laura Coupama': ['400648'],
  'Laura c': ['400648'],
  'Laura coupama': ['400648'],
  'Lea.vinet': ['431171'],
  'LebRom': ['450388'],
  'Lebeau Romane': ['450388'],
  'Liam M': ['448778'],
  'Liam M / Melvyn N': ['448778', '402760'],
  'Liam Mouchon': ['448778'],
  'Lola.Marcoulet': ['448247'],
  'Lonlas Alix': ['450067'],
  'Lou Hydie': ['448277'],
  'Lou.thibautremi': ['450446'],
  'Lounajubert': ['448621'],
  'Lucie gourmanel': ['447738'],
  'Lucy Mateo': ['445501'],
  u'Luc\xeda': ['443367'],
  u'LugaChlo\xe9': ['445324'],
  u'Maelys Rodriguez-Perez--Herv\xe9': ['447962'],
  'Maelys b': ['450554'],
  'Maelys bertel': ['450554'],
  'Manon Garsaud': ['450517'],
  'Manon.cer': ['445098'],
  'Marie CHERAUD': ['448035'],
  'Marine Michenot': ['450735'],
  'Mateo Lucy': ['445501'],
  'Maxime Pons': ['448381'],
  'Maxime buret': ['450937'],
  u'Ma\xefssa ELHALOUI': ['446773'],
  'Michel Fleuranceau': ['447984'],
  'Montenzo': ['452416'],
  u'Mouquet Kimberley': ['448567'],
  u'Nad\xe2 Sissaoui': ['438481'],
  u'No\xe9mie Langue': ['380839'],
  u'No\xe9mie Nelson': ['446682'],
  'Orlanne': ['449249'],
  'Orlanne rameau el hayani': ['449249'],
  'PalomaPigeonnier': ['450546'],
  'Pauline Valade': ['450555'],
  u'Qinyan Zhang': ['449046'],
  'Qinyan-Zhang': ['449046'],
  'Quittdegerm': ['450505'],
  'Quitteriedegerm': ['450505'],
  'RidMort': ['433462'],
  'Ridley Mortensen': ['433462'],
  u'Rodriguez-Perez--Herv\xe9 Ma\xeblys': ['447962'],
  'RomPet': ['436744'],
  'Sara Le Gall': ['451471'],
  u'Sissaoui Nad\xe2': ['438481'],
  'TSIFANAVI Lucia': ['443367'],
  u'Vinet L\xe9a': ['431171'],
  u'Vinet.L\xe9a': ['431171'],
  u'V\xe9ral Calista': ['446664'],
  'WU Qinglin': ['449075'],
  'Wilsh': ['449081'],
  u'alice alonso': ['450977'],
  'anneso.jacinto': ['451358'],
  'ansojct': ['451358'],
  'augclem': ['445328'],
  u'augcl\xe9m': ['445328'],
  'bouffenie-marylou': ['446920'],
  'camille etcheverry': ['446690'],
  u'cl\xe9ment.augez': ['445328'],
  'elise cornu': ['449195'],
  'emy huber': ['450547'],
  'gabrielle sartori': ['449461'],
  'guillon.lola': ['449214'],
  'juliasalistean': ['446791'],
  'kathleen': ['451148'],
  'kathleen.perretin': ['451148'],
  'kim mouquet': ['448567'],
  'lena_pavie': ['438087'],
  'loanev': ['449233'],
  'loanevigouroux': ['449233'],
  'lola.guillon': ['449214'],
  'louise.dague': ['448118'],
  'malorie debaire': ['451638'],
  'manon.garsaud': ['450517'],
  'maya c': ['449047'],
  'maya camacho': ['449047'],
  'morgane.reimherr': ['447019'],
  'mou kim': ['448567'],
  'moukim': ['448567'],
  'mouquet Kim': ['448567'],
  'mouquet kim': ['448567'],
  'nahla aya': ['447457'],
  'noemielatorre': ['447541'],
  'paul-roignant': ['451809'],
  'romanebroucaret': ['449093'],
  'roxane.pascaud': ['448131'],
  u'\xc2ya Nahla': ['447457']},
 'etu2alias': {'334380': ['ColComb', u'Combcol', 'Comcol'],
  '380839': [u'No\xe9mie Langue'],
  '400648': ['Laura c', 'Laura Coupama', 'Laura coupama'],
  '402760': ['Liam M / Melvyn N'],
  '402804': ['Camilla Sulejmani'],
  '413294': [u'Cl\xe9mentineLagneaux'],
  '416094': ['Bel Elena-Rose'],
  '431171': [u'Vinet L\xe9a', 'Lea.vinet', u'Vinet.L\xe9a'],
  '433462': ['Ridley Mortensen', 'RidMort'],
  '435763': ['Cubizolles Noah'],
  '436744': ['RomPet'],
  '438087': ['lena_pavie'],
  '438481': [u'Sissaoui Nad\xe2', u'Nad\xe2 Sissaoui'],
  '438682': [u'Ana\xe9 Lamy', u'Ana\xe9'],
  '440388': ['Gourlay Matis'],
  '443367': [u'Luc\xeda', 'TSIFANAVI Lucia'],
  '444338': ['Karin HIRAYAMA'],
  '444843': ['Charlotte Durocher'],
  '445098': ['Manon.cer'],
  '445324': [u'LugaChlo\xe9', u'LUGA Chlo\xe9', u'LUGAChlo\xe9'],
  '445328': [u'Cl\xe9ment.augez',
   u'augcl\xe9m',
   'augclem',
   u'CL\xc9MENT.augez',
   u'cl\xe9ment.augez'],
  '445501': ['Lucy Mateo', 'Mateo Lucy'],
  '445918': ['El mellali chahid'],
  '446480': [u'Eloane.Desmouli\xe8s'],
  '446664': [u'V\xe9ral Calista'],
  '446682': [u'No\xe9mie Nelson'],
  '446690': ['Camille Etcheverry', 'camille etcheverry'],
  '446740': ['Justine.Fouillet'],
  '446746': ['JustineGanne'],
  '446773': [u'Ma\xefssa ELHALOUI'],
  '446791': ['juliasalistean'],
  '446920': ['bouffenie-marylou'],
  '446964': ['Chlo Roub', u'Chlo\xe9 Roubert Dieuaide', u'Chlo\xe9 Roubert'],
  '447019': ['morgane.reimherr'],
  '447289': [u'Cl\xe9o Mailles'],
  '447457': [u'\xc2ya Nahla', 'nahla aya'],
  '447541': ['noemielatorre'],
  '447632': [u'DUBARRE Ana\xefs'],
  '447655': ['Joy.lscr'],
  '447689': ['Justine.michas'],
  '447697': ['Elmajdoub hicham'],
  '447703': ['A.verdel'],
  '447728': ['Juliette Ceccaldi'],
  '447738': ['Lucie gourmanel'],
  '447962': [u'Rodriguez-Perez--Herv\xe9 Ma\xeblys',
   u'Maelys Rodriguez-Perez--Herv\xe9'],
  '447984': ['Michel Fleuranceau'],
  '448035': ['Marie CHERAUD'],
  '448118': ['louise.dague'],
  '448131': ['roxane.pascaud'],
  '448189': ['Cla cho', 'Clara Choquet', 'Clara choquet'],
  '448247': ['Lola.Marcoulet'],
  '448262': ['ANDRIA.HERIN', 'ANDHERIN'],
  '448277': ['Lou Hydie'],
  '448381': ['Maxime Pons'],
  '448567': [u'Mouquet Kimberley',
   'mouquet Kim',
   'kim mouquet',
   'mou kim',
   'mouquet kim',
   'moukim'],
  '448621': ['Lounajubert'],
  '448778': ['Liam M / Melvyn N', 'Liam M', 'Liam Mouchon'],
  '448793': [u'Am\xe9lie Lauilh\xe9'],
  '449046': [u'Qinyan Zhang', 'Qinyan-Zhang'],
  '449047': ['maya camacho', 'maya c'],
  '449075': ['WU Qinglin'],
  '449081': ['Wilsh', 'Jordan Wilshaw'],
  '449093': ['romanebroucaret'],
  '449195': ['elise cornu'],
  '449214': ['lola.guillon', 'guillon.lola'],
  '449233': ['loanev', 'loanevigouroux'],
  '449249': ['Orlanne rameau el hayani', 'Orlanne'],
  '449339': ['Emma Esteves'],
  '449461': ['gabrielle sartori'],
  '450067': [u'Alix Lonlas', 'Lonlas Alix'],
  '450285': ['Apaydin Mervan'],
  '450338': ['Katy Malcolm'],
  '450388': ['LebRom', 'Lebeau Romane'],
  '450446': ['Lou.thibautremi'],
  '450505': ['Quitteriedegerm', 'Quittdegerm'],
  '450517': ['manon.garsaud', 'Manon Garsaud'],
  '450546': ['PalomaPigeonnier'],
  '450547': ['emy huber'],
  '450554': ['Maelys b', 'Maelys bertel'],
  '450555': ['Pauline Valade'],
  '450735': ['Marine Michenot'],
  '450741': ['Elisalatour'],
  '450742': [u'Elo\xefse Belvisi'],
  '450773': [u'Jade R\xe9my'],
  '450937': ['Maxime buret'],
  '450977': [u'alice alonso'],
  '451148': ['kathleen.perretin', 'kathleen'],
  '451262': ['Ana PIOTON', 'Ana Pioton'],
  '451358': ['ansojct', 'anneso.jacinto'],
  '451454': [u'Khad', 'Khadija Dahmani'],
  '451471': ['Sara Le Gall'],
  '451482': ['Blanche Navarro'],
  '451571': ['Guerbas aldjia', u'Guerb aldjia', 'Guerbasaldjia', 'Gue aldj'],
  '451572': ['Emily Boucard'],
  '451579': ['Cheick GUIRA'],
  '451638': ['malorie debaire'],
  '451809': ['paul-roignant'],
  '451874': [u'FLAVROY', 'Flavy Roy'],
  '451963': ['Jade.aventurin'],
  '452416': ['Enzo Montalarq', 'Montenzo']}}

In [21]:
with codecs.open(fAliasQDLE, 'w', encoding="utf8") as outfile:
    yaml.safe_dump(correspondances, outfile, default_flow_style=False)

# Calcul des notes
Attention au nombre de questions

In [22]:
nbQuestions=[7,7,7,7,7,7,7,6,6,6,6]
nbQ=float(nbQuestions[nQuizz-1])
print nbQ

7.0

In [23]:
def aliasQuizz(pseudo):
    result=None
    if pseudo in alias:
        result=alias[pseudo]
    return result

def noteQuizz(points):   
    result=8
    if points>0:
        result=int(round(10*(1+points/nbQ),0))
    return result
        
        

lQuizz["id"]=lQuizz["pseudo"].apply(aliasQuizz)
lQuizz["note"]=lQuizz["points"].apply(noteQuizz)

In [24]:
def splitPseudo1(id):
    result=None
    if id and len(id)>0:
        result=id[0]
    return result

def splitPseudo2(id):
    result=None
    if id and len(id)>1:
        result=id[1]
    return result

def splitPseudo3(id):
    result=None
    if id and len(id)>2:
        result=id[2]
    return result

lQuizz["id1"]=lQuizz["id"].apply(splitPseudo1)
lQuizz["id2"]=lQuizz["id"].apply(splitPseudo2)
lQuizz["id3"]=lQuizz["id"].apply(splitPseudo3)

lQuizz

,pseudo,points,temps,id,note,id1,id2,id3
0,Lola,5,93.52,None,17,None,None,None
1,Liam Mouchon,5,155.29,[448778],17,448778,None,None
2,Jade.aventurin,5,162.08,[451963],17,451963,None,None
3,malorie debaire,4,74.06,[451638],16,451638,None,None
4,romanebroucaret,4,76.96,[449093],16,449093,None,None
5,manon.garsaud,4,105.06,[450517],16,450517,None,None
6,Lucie gourmanel,4,131.53,[447738],16,447738,None,None
7,gabrielle sartori,3,78.47,[449461],14,449461,None,None
8,Justine.michas,3,82.52,[447689],14,447689,None,None
9,lena_pavie,3,98.02,[438087],14,438087,None,None
10,Marine Michenot,3,100.76,[450735],14,450735,None,None
11,noemielatorre,3,105.70,[447541],14,447541,None,None
12,elise cornu,3,105.90,[449195],14,449195,None,None
13,ClémentineLagneaux,3,109.55,[413294],14,413294,None,None
14,DUBARRE Anaïs,3,131.20,[447632],14,447632,None,None
15,Eloane.Desmouliès,3,131.76,[446480],14,446480,None,None
16,ANDRIA.HERIN,3,137.60,[448262],14,448262,None,None
17,Emma Esteves,3,144.06,[449339],14,449339,None,None
18,Ridley Mortensen,3,144.28,[433462],14,433462,None,None
19,Lebeau Romane,3,151.51,[450388],14,450388,None,None
20,Jordan Wilshaw,3,155.71,[449081],14,449081,None,None
21,Qinyan Zhang,3,156.60,[449046],14,449046,None,None
22,Michel Fleuranceau,3,158.06,[447984],14,447984,None,None
23,Maelys Rodriguez-Perez--Hervé,3,160.39,[447962],14,447962,None,None
24,WU Qinglin,3,186.61,[449075],14,449075,None,None
25,Combcol,2,51.20,[334380],13,334380,None,None
26,Sara Le Gall,2,57.11,[451471],13,451471,None,None
27,maya camacho,2,82.06,[449047],13,449047,None,None
28,bouffenie-marylou,2,86.05,[446920],13,446920,None,None
29,loanevigouroux,2,93.42,[449233],13,449233,None,None
...,...,...,...,...,...,...,...,...
50,Amélie Lauilhé,2,175.65,[448793],13,448793,None,None
51,Laura coupama,2,176.83,[400648],13,400648,None,None
52,Mouquet Kimberley,2,184.78,[448567],13,448567,None,None
53,Joy.lscr,1,42.20,[447655],11,447655,None,None
54,camille etcheverry,1,52.62,[446690],11,446690,None,None
55,Mateo Lucy,1,56.64,[445501],11,445501,None,None
56,RomPet,1,67.49,[436744],11,436744,None,None
57,JustineGanne,1,88.61,[446746],11,446746,None,None
58,Lou.thibautremi,1,94.47,[450446],11,450446,None,None
59,Clara choquet,1,96.99,[448189],11,448189,None,None
60,alice alonso,1,101.08,[450977],11,450977,None,None
61,lola.guillon,1,115.39,[449214],11,449214,None,None
62,louise.dague,1,131.73,[448118],11,448118,None,None
63,Noémie Nelson,1,154.79,[446682],11,446682,None,None
64,Sissaoui Nadâ,1,157.63,[438481],11,438481,None,None
65,Cubizolles Noah,1,157.87,[435763],11,435763,None,None
66,Cheick GUIRA,1,158.55,[451579],11,451579,None,None
67,Elisalatour,1,160.77,[450741],11,450741,None,None
68,Apaydin Mervan,1,161.26,[450285],11,450285,None,None
69,Lounajubert,1,186.21,[448621],11,448621,None,None
70,Quitteriedegerm,1,186.93,[450505],11,450505,None,None
71,El mellali chahid,1,192.72,[445918],11,445918,None,None
72,LUGA Chloé,0,21.19,[445324],8,445324,None,None
73,Montenzo,0,26.24,[452416],8,452416,None,None
74,emy huber,0,28.19,[450547],8,450547,None,None
75,FLAVROY,0,32.31,[451874],8,451874,None,None
76,A.verdel,0,102.40,[447703],8,447703,None,None
77,juliasalistean,0,132.69,[446791],8,446791,None,None
78,PalomaPigeonnier,0,141.96,[450546],8,450546,None,None
79,Khad,0,160.05,[451454],8,451454,None,None

In [25]:
df1=lQuizz[["pseudo","note","temps","id1"]].dropna()
df2=lQuizz[["pseudo","note","temps","id2"]].dropna()
df3=lQuizz[["pseudo","note","temps","id3"]].dropna()
df1.columns=["pseudo","note","temps","id"]
df2.columns=["pseudo","note","temps","id"]
df3.columns=["pseudo","note","temps","id"]

In [26]:
df123=pd.concat([df1,df2,df3]).sort_values(["note","temps"],ascending=[False,True]).reset_index(drop=True)
df123

                           pseudo  note   temps      id
0                    Liam Mouchon    17  155.29  448778
1                  Jade.aventurin    17  162.08  451963
2                 malorie debaire    16   74.06  451638
3                 romanebroucaret    16   76.96  449093
4                   manon.garsaud    16  105.06  450517
5                 Lucie gourmanel    16  131.53  447738
6               gabrielle sartori    14   78.47  449461
7                  Justine.michas    14   82.52  447689
8                      lena_pavie    14   98.02  438087
9                 Marine Michenot    14  100.76  450735
10                  noemielatorre    14  105.70  447541
11                    elise cornu    14  105.90  449195
12             ClémentineLagneaux    14  109.55  413294
13                  DUBARRE Anaïs    14  131.20  447632
14              Eloane.Desmouliès    14  131.76  446480
15                   ANDRIA.HERIN    14  137.60  448262
16                   Emma Esteves    14  144.06  449339
17               Ridley Mortensen    14  144.28  433462
18                  Lebeau Romane    14  151.51  450388
19                 Jordan Wilshaw    14  155.71  449081
20                   Qinyan Zhang    14  156.60  449046
21             Michel Fleuranceau    14  158.06  447984
22  Maelys Rodriguez-Perez--Hervé    14  160.39  447962
23                     WU Qinglin    14  186.61  449075
24                        Combcol    13   51.20  334380
25                   Sara Le Gall    13   57.11  451471
26                   maya camacho    13   82.06  449047
27              bouffenie-marylou    13   86.05  446920
28                 loanevigouroux    13   93.42  449233
29       Orlanne rameau el hayani    13   94.83  449249
..                            ...   ...     ...     ...
49                 Amélie Lauilhé    13  175.65  448793
50                  Laura coupama    13  176.83  400648
51              Mouquet Kimberley    13  184.78  448567
52                       Joy.lscr    11   42.20  447655
53             camille etcheverry    11   52.62  446690
54                     Mateo Lucy    11   56.64  445501
55                         RomPet    11   67.49  436744
56                   JustineGanne    11   88.61  446746
57                Lou.thibautremi    11   94.47  450446
58                  Clara choquet    11   96.99  448189
59                   alice alonso    11  101.08  450977
60                   lola.guillon    11  115.39  449214
61                   louise.dague    11  131.73  448118
62                  Noémie Nelson    11  154.79  446682
63                  Sissaoui Nadâ    11  157.63  438481
64                Cubizolles Noah    11  157.87  435763
65                   Cheick GUIRA    11  158.55  451579
66                    Elisalatour    11  160.77  450741
67                 Apaydin Mervan    11  161.26  450285
68                    Lounajubert    11  186.21  448621
69                Quitteriedegerm    11  186.93  450505
70              El mellali chahid    11  192.72  445918
71                     LUGA Chloé     8   21.19  445324
72                       Montenzo     8   26.24  452416
73                      emy huber     8   28.19  450547
74                        FLAVROY     8   32.31  451874
75                       A.verdel     8  102.40  447703
76                 juliasalistean     8  132.69  446791
77               PalomaPigeonnier     8  141.96  450546
78                           Khad     8  160.05  451454

[79 rows x 4 columns]

In [27]:
df123.loc[(df123.note==8)&(df123.temps>0),"note"]=10

In [28]:
df123.loc[1,"note"]

17

In [29]:
df123.at[0, 'note'] = 20
if df123.loc[1, "note"]<18:
    df123.at[1, 'note'] = 18
df123

                           pseudo  note   temps      id
0                    Liam Mouchon    20  155.29  448778
1                  Jade.aventurin    18  162.08  451963
2                 malorie debaire    16   74.06  451638
3                 romanebroucaret    16   76.96  449093
4                   manon.garsaud    16  105.06  450517
5                 Lucie gourmanel    16  131.53  447738
6               gabrielle sartori    14   78.47  449461
7                  Justine.michas    14   82.52  447689
8                      lena_pavie    14   98.02  438087
9                 Marine Michenot    14  100.76  450735
10                  noemielatorre    14  105.70  447541
11                    elise cornu    14  105.90  449195
12             ClémentineLagneaux    14  109.55  413294
13                  DUBARRE Anaïs    14  131.20  447632
14              Eloane.Desmouliès    14  131.76  446480
15                   ANDRIA.HERIN    14  137.60  448262
16                   Emma Esteves    14  144.06  449339
17               Ridley Mortensen    14  144.28  433462
18                  Lebeau Romane    14  151.51  450388
19                 Jordan Wilshaw    14  155.71  449081
20                   Qinyan Zhang    14  156.60  449046
21             Michel Fleuranceau    14  158.06  447984
22  Maelys Rodriguez-Perez--Hervé    14  160.39  447962
23                     WU Qinglin    14  186.61  449075
24                        Combcol    13   51.20  334380
25                   Sara Le Gall    13   57.11  451471
26                   maya camacho    13   82.06  449047
27              bouffenie-marylou    13   86.05  446920
28                 loanevigouroux    13   93.42  449233
29       Orlanne rameau el hayani    13   94.83  449249
..                            ...   ...     ...     ...
49                 Amélie Lauilhé    13  175.65  448793
50                  Laura coupama    13  176.83  400648
51              Mouquet Kimberley    13  184.78  448567
52                       Joy.lscr    11   42.20  447655
53             camille etcheverry    11   52.62  446690
54                     Mateo Lucy    11   56.64  445501
55                         RomPet    11   67.49  436744
56                   JustineGanne    11   88.61  446746
57                Lou.thibautremi    11   94.47  450446
58                  Clara choquet    11   96.99  448189
59                   alice alonso    11  101.08  450977
60                   lola.guillon    11  115.39  449214
61                   louise.dague    11  131.73  448118
62                  Noémie Nelson    11  154.79  446682
63                  Sissaoui Nadâ    11  157.63  438481
64                Cubizolles Noah    11  157.87  435763
65                   Cheick GUIRA    11  158.55  451579
66                    Elisalatour    11  160.77  450741
67                 Apaydin Mervan    11  161.26  450285
68                    Lounajubert    11  186.21  448621
69                Quitteriedegerm    11  186.93  450505
70              El mellali chahid    11  192.72  445918
71                     LUGA Chloé    10   21.19  445324
72                       Montenzo    10   26.24  452416
73                      emy huber    10   28.19  450547
74                        FLAVROY    10   32.31  451874
75                       A.verdel    10  102.40  447703
76                 juliasalistean    10  132.69  446791
77               PalomaPigeonnier    10  141.96  450546
78                           Khad    10  160.05  451454

[79 rows x 4 columns]

In [30]:
dfNotes=df123.groupby("id").max().sort_values("note",ascending=False)
dfNotes.to_csv(fNotes,sep="\t",encoding="utf8")

In [31]:
dfNotes

                               pseudo  note   temps
id
448778                   Liam Mouchon    20  155.29
451963                 Jade.aventurin    18  162.08
451638                malorie debaire    16   74.06
447738                Lucie gourmanel    16  131.53
449093                romanebroucaret    16   76.96
450517                  manon.garsaud    16  105.06
447962  Maelys Rodriguez-Perez--Hervé    14  160.39
449339                   Emma Esteves    14  144.06
449046                   Qinyan Zhang    14  156.60
447541                  noemielatorre    14  105.70
449075                     WU Qinglin    14  186.61
449081                 Jordan Wilshaw    14  155.71
449195                    elise cornu    14  105.90
447632                  DUBARRE Anaïs    14  131.20
447984             Michel Fleuranceau    14  158.06
446480              Eloane.Desmouliès    14  131.76
450388                  Lebeau Romane    14  151.51
449461              gabrielle sartori    14   78.47
448262                   ANDRIA.HERIN    14  137.60
447689                 Justine.michas    14   82.52
450735                Marine Michenot    14  100.76
438087                     lena_pavie    14   98.02
433462               Ridley Mortensen    14  144.28
413294             ClémentineLagneaux    14  109.55
448247                 Lola.Marcoulet    13  143.82
400648                  Laura coupama    13  176.83
448567              Mouquet Kimberley    13  184.78
334380                        Combcol    13   51.20
448793                 Amélie Lauilhé    13  175.65
449047                   maya camacho    13   82.06
...                               ...   ...     ...
444338                 Karin HIRAYAMA    13  150.34
446773                Maïssa ELHALOUI    13  143.84
446740               Justine.Fouillet    13  109.26
450741                    Elisalatour    11  160.77
436744                         RomPet    11   67.49
450977                   alice alonso    11  101.08
438481                  Sissaoui Nadâ    11  157.63
450446                Lou.thibautremi    11   94.47
451579                   Cheick GUIRA    11  158.55
435763                Cubizolles Noah    11  157.87
450505                Quitteriedegerm    11  186.93
448118                   louise.dague    11  131.73
449214                   lola.guillon    11  115.39
448189                  Clara choquet    11   96.99
447655                       Joy.lscr    11   42.20
445501                     Mateo Lucy    11   56.64
445918              El mellali chahid    11  192.72
446682                  Noémie Nelson    11  154.79
446690             camille etcheverry    11   52.62
450285                 Apaydin Mervan    11  161.26
448621                    Lounajubert    11  186.21
446746                   JustineGanne    11   88.61
446791                 juliasalistean    10  132.69
451874                        FLAVROY    10   32.31
445324                     LUGA Chloé    10   21.19
451454                           Khad    10  160.05
450547                      emy huber    10   28.19
450546               PalomaPigeonnier    10  141.96
447703                       A.verdel    10  102.40
452416                       Montenzo    10   26.24

[79 rows x 3 columns]